.hero_part{
    display: flex;
    flex-direction: row;
    margin-top: 2%;
   

}
.hero_part img{
    height:40% ;
    width: 40%;

}

.my_images{
    background-color: #A5C847;
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.my_images .cnc_1{
    width: 70%;
    height: 30%;
    transform: translate(43%,10%);

}


