/* second part */
.Edge_part{
    display: flex;
    flex-direction: row;
    margin: 1%;

}
.Edge_part img{
    width:40% ;
    height: 90%;
    transform: translateY(2%);
}


.border_line{
    height:2px;
    width: 98%;
   
   transform: translate(1%,10%);
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1%;

}