
/* part -1 */

.two_image{
    position: relative;
    display: inline-block;
}
#first{
        width:100%;
        height: auto;

}
.prodct_part{
   
    background-color: #5F5F5FE5;
    position: absolute;
    top:40% ;
    left: 0%;
    width: 40%;
    padding: 2% 3%;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    
    
  
 
    
    
}
.prodct_part #label_1{
   
    color: white;
    font-weight: 600;
    font-size: 2.0rem;
    transform: translate();
    margin: 0;
    padding: 0% 0% 2% 10%;
    
}
.prodct_part #label_2{
   
    font-weight: 400;
    text-align: center;
    word-spacing: 0.4rem;
    color: white;
    transform: translate(00%,-50%);
    font-size: 1.2rem;
    margin: 0;
    padding:2% 0% 0% 30%;
    
}
@media screen and (max-width:2500px){}
@media screen and (max-width:1920px){}
@media screen and (max-width:1366px){}
@media screen and (max-width:1199px){}
@media screen and (min-width: 1366px){
   
	
}
@media screen and (max-width: 1024px){
    .prodct_part #label_1
    {
        font-size: 1.85rem;
    }
    .prodct_part #label_2{
        font-size: 0.9rem;
    }
    
    
}

@media screen and (max-width:912px){
    .prodct_part #label_1
    {
        font-size: 1.6rem;
    }
    .prodct_part #label_2{
        font-size: 0.8rem;
    }
    

   
}
@media screen and (max-width:853px){
   
    .prodct_part #label_2{
        font-size: 0.55rem;
    }
    .prodct_part{
        line-height: 1.4;
    }
}
@media screen and (max-width:820px){
    .prodct_part #label_1
    {
        font-size: 1.3rem;
    }
    .prodct_part #label_2{
        font-size: 0.6rem;
    }
    .prodct_part{
        line-height: 1.4;
    }
}



@media screen and (max-width:768px){
    .prodct_part #label_1
    {
        font-size: 1.3rem;
    }
    .prodct_part #label_2{
        font-size: 0.7rem;
    }
    .prodct_part{
        line-height: 1.5;
    }
}

 @media screen and (max-width: 575px)
{
    .prodct_part #label_1
    {
        font-size: 1.0rem;
    }
    .prodct_part #label_2{
        font-size: 0.5rem;
        word-spacing: 0.3rem;
    }
   
}
@media screen and (max-width:540px){
    .prodct_part #label_1
    {
        font-size: 0.9rem;
    }
    .prodct_part #label_2{
        font-size: 0.4rem;
        word-spacing: 0.25rem;
    }
    
}



@media screen and (max-width: 480px)
{
    .prodct_part #label_1
    {
        font-size: 0.8rem;
    }
    .prodct_part #label_2{
        font-size: 0.4rem;
        word-spacing: 0.2rem;
    }
}


@media screen and (max-width: 430px)
{
    .prodct_part #label_1
    {
        font-size: 0.7rem;
    }
    .prodct_part #label_2{
        font-size: 0.35rem;
        word-spacing: 0.15rem;
    }
}
@media screen and (max-width: 390px)
{
    .prodct_part #label_2{
        font-size: 0.35rem;
        word-spacing: 0.1rem;
    }
}

@media screen and (max-width: 376px)
{
    .prodct_part #label_1
    {
        font-size: 0.6rem;
    }
    .prodct_part #label_2{
        font-size: 0.3rem;
        
    }
}
@media screen and (max-width: 344px)
{
    

}
@media screen and (max-width: 336px)
{
    .prodct_part #label_2{
        font-size: 0.30rem;
        
    }
    .prodct_part #label_1
    {
        font-size: 0.55rem;
    }
} 
@media screen and (max-width: 294px)
{
    .prodct_part #label_2{
        font-size: 0.25rem;
        
    }
    .prodct_part #label_1
    {
        font-size: 0.5rem;
    }

}
@media screen and (max-width: 256px)
{
    .prodct_part #label_2{
        font-size: 0.20rem;
        
    }
    .prodct_part #label_1
    {
        font-size: 0.4rem;
    }

}


