/* main part -1 */
.hero_part{
    margin: 12% 0% 1% 0%;
    overflow-x: hidden;
    overflow-y: hidden;
}

/* part -1 */

.two_image{
    position: relative;
    display: inline-block;
}
#first{
        width:100%;
        height: auto;

}
.prodct_part{
   
    background-color: #5F5F5FE5;
    position: absolute;
    top:40% ;
    left: 0%;
    width: 40%;
    padding: 2% 3%;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    
    
  
 
    
    
}
.prodct_part #label_1{
   
    color: white;
    font-weight: 600;
    font-size: 2.0rem;
   
    margin: 0;
    padding: 0% 0% 2% 10%;
    
}
.prodct_part #label_2{
   
    font-weight: 400;
    text-align: center;
    word-spacing: 0.4rem;
    color: white;
    transform: translate(00%,-50%);
    font-size: 1.2rem;
    margin: 0;
    padding:2% 0% 0% 30%;
    
}
/* main-part-2 */
.ba_img{
    position: relative;
    display: inline-block;
    margin: 1%;

    
    

}


.ba_img img {
    width:100%;
     height: auto; 

      
    
 }
 .img_t_part{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 10%;
    justify-content:space-between;
    align-items: center;
    width: 100%;

   
 }
 
.CNC_b_t_n {
    padding: 2%;
    font-weight: 600;
    font-size: 1.8rem;
    word-spacing: 0.2em;
    color: white; 
    text-decoration: none;
    border: none;
    outline: none;
    background-color:#4D4F48;
    cursor: pointer;

         
}
#big_img{
    width:50%;
    height: 50%;

}
/* main -part -3 */

.ba_img_2{
    
    display: inline-block;
    margin: 1%;
    position: relative;

}
.ba_img_2 img {
    width:100%;
    height: auto; 
 }
 .above_div{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 20%;

    justify-content:space-between;
    align-items: center;
    width: 100%;
   

 }
 #big{
    width:40%;
    height: 40%;


}
 
@media screen and ((max-width:2500px) and (min-width:1290px)){
    .prodct_part #label_1
    {
        font-size: 4rem;
    }
    .prodct_part #label_2{
        font-size: 2.5rem;
    }
    .CNC_b_t_n {
       
        font-size: 3rem;
        
             
    }
    
}
@media screen and ((max-width:2200px) and (min-width:1290px)){
    .prodct_part #label_1
    {
        font-size: 3rem;
    }
    .prodct_part #label_2{
        font-size: 2.0rem;
    }
    .CNC_b_t_n {
       
        font-size: 3rem;
        
             
    }
}
@media screen and ((max-width:1900px) and (min-width:1290px)){
    .prodct_part #label_1
    {
        font-size: 2.7rem;
    }
    .prodct_part #label_2{
        font-size: 1.7rem;
    }
    .CNC_b_t_n {
       
        font-size: 3rem;
        
             
    }
}
@media screen and ((max-width:1600px) and (min-width:1290px)) {
    .prodct_part #label_1
    {
        font-size: 2.0rem;
    }
    .prodct_part #label_2{
        font-size: 1.55rem;
    }
    .CNC_b_t_n {
       
        font-size: 3rem;
        
             
    }
}
@media screen and (max-width: 1024px){
    .prodct_part #label_1
    {
        font-size: 1.80rem;
    }
    .prodct_part #label_2{
        font-size: 0.9rem;
    }
    
    
}

@media screen and (max-width:912px){
    .prodct_part #label_1
    {
        font-size: 1.5rem;
    }
    .prodct_part #label_2{
        font-size: 0.8rem;
    }
    .CNC_b_t_n{
       
        
        font-size: 1.5em;
    }
    

   
}
@media screen and (max-width:853px){
   
    .prodct_part #label_2{
        font-size: 0.75rem;
    }
    
}
@media screen and (max-width:820px){
    .prodct_part #label_1
    {
        font-size: 1.3rem;
    }
    .prodct_part #label_2{
        font-size: 0.7rem;
    }
   
}



@media screen and (max-width:768px){
    .prodct_part #label_1
    {
        font-size: 1.3rem;
    }
    .prodct_part #label_2{
        font-size: 0.7rem;
    }
    
    .CNC_b_t_n{
        
        font-size: 1.3em;
    }
}


 @media screen and (max-width: 575px)
{
    .prodct_part #label_1
    {
        font-size: 1.0rem;
    }
    .prodct_part #label_2{
        font-size: 0.45rem;
       
    }
    .CNC_b_t_n{
        
        font-size: 1.1em;
    }
   
    
   
}

@media screen and (max-width: 518px)
{
    .prodct_part #label_1
    {
        font-size: 0.8rem;
    }
    .prodct_part #label_2{
        font-size: 0.4rem;
       
    }
    .CNC_b_t_n{
    
        
        font-size: 1.0em;
       
    }
    
}



@media screen and (max-width: 480px)
{
    .prodct_part #label_1
    {
        font-size: 0.8rem;
    }
    .prodct_part #label_2{
        font-size: 0.4rem;
        word-spacing: 0.2rem;
    }
    .CNC_b_t_n{
      
        
        font-size: 0.9em;
       
    }
  
}


@media screen and (max-width: 430px)
{
    .prodct_part #label_1
    {
        font-size: 0.7rem;
    }
    .prodct_part #label_2{
        font-size: 0.35rem;
        word-spacing: 0.15rem;
    }
    
    .CNC_b_t_n{
        padding: 6px;
        
        font-size: 0.6em;
       
    }
    .tag_part button{
        padding: 6px;
        
        font-size: 0.6em;
    }
}
@media screen and (max-width: 390px)
{
    .prodct_part #label_2{
        font-size: 0.35rem;
        word-spacing: 0.1rem;
    }
}

@media screen and (max-width: 376px)
{
    .prodct_part #label_1
    {
        font-size: 0.6rem;
    }
    .prodct_part #label_2{
        font-size: 0.3rem;
        
    }
}




