/* main-part-2 */
.ba_img{
    position: relative;
    display: inline-block;
    margin: 1%;
    

}


.ba_img img {
    width:100%;
     height: auto; 
     position: relative;

      
    
 }
 .img_t_part{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 10%;
    justify-content:flex-start;
    align-items: center;
   
 }
 
.CNC_b_t_n {
    position: absolute;
    padding: 18px;
    font-weight: 600;
    font-size: 1.8em;
    word-spacing: 0.2em;
    color: white; 
    text-decoration: none;
    border: none;
    outline: none;
    background-color:#4D4F48;
    cursor: pointer;
    top: 35%;
         
}





#big_img{
    width:50%;
    height: 50%;
    transform: translateX(100%);

}
@media screen and (max-width:2500px){}
@media screen and (max-width:1920px){}
@media screen and (max-width:1366px){}
@media screen and (max-width:1199px){}
@media screen and (min-width: 1366px){
   
	
}
@media screen and (max-width: 1024px){
    
    
}

@media screen and (max-width:912px){
    .CNC_b_t_n{
        padding: 18px;
        
        font-size: 1.5em;
    }
    

   
}
@media screen and (max-width:853px){
   
}


@media screen and (max-width:729px){
    .CNC_b_t_n{
        padding: 16px;
        
        font-size: 1.3em;
    }
}
@media screen and (max-width:677px){
    .CNC_button button{
        padding: 14px;
        
        font-size: 1.3em;
    }
}

 @media screen and (max-width: 624px)
{
    .CNC_b_t_n{
        padding: 12px;
        
        font-size: 1.2em;
    }
   
}
@media screen and (max-width:571px){
    .CNC_b_t_n{
        padding: 10px;
        
        font-size: 1.1em;
    }
    
}



@media screen and (max-width: 518px)
{
    .CNC_b_t_n{
        padding: 8px;
        
        font-size: 1.0em;
       
    }
}


@media screen and (max-width: 466px)
{
    .CNC_b_t_n{
        padding: 6px;
        
        font-size: 0.9em;
       
    }
}
@media screen and (max-width: 413px)
{
    .CNC_b_t_n{
        padding: 6px;
        
        font-size: 0.6em;
       
    }
}

@media screen and (max-width: 286px)
{
    .CNC_b_t_n{
        padding: 6px;
        
        font-size: 0.5em;
       
    }
}
@media screen and (max-width: 344px)
{
    .CNC_b_t_n{
        font-size: 0.5em;
        padding: 12px;
       
    }    

}
