:root{
    --color:#A5C847;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family:f1;
    src:url("../../../font/Exo2-VariableFont_wght.ttf");
}

body {
    margin: 0;
    padding: 0;
    font-family: f1;
    line-height: 1.6;
    font-family: f1;
}

#wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: white;
   
}

.navbar  {
    display: flex;
    justify-content: start;
    align-items: end;
   
}
 img {
    height: 3%;
    width: 12%;
}

/* Navigation Elements Styles */
.nav_elements {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;

}

/* .na {
    display: flex;
    list-style: none;
   justify-content: end;
    align-items: end;
} */

.nav_elements li {
    margin-left: 35px; 
}

.nav_elements li a {
    text-decoration: none;
    color: black; 
    font-size: 1.4em;
    
    font-weight: 400;
     
}


.nav_elements li a:hover {
    color:var(--color); 
    transform: scale(1.1); 
    text-decoration: underline black;
}

    


/* navbar-end */

.main_container{
    margin: 2%;
}
.part_1{
    display: flex;
    flex-direction: row;

}
.part_1_img{
    height:100% ;
    width: 100%;
}
.part_1_img img{
    height:100% ;
    width:85% ;
}
.part_1_desc_part{
    display: flex;
    flex-direction: column;
    background-color: var(--color);
    /* height: 100%;
    width: 100%; */
   

}
.desc_img{
  
      transform: translate(10%,10%); 
    height:100% ;
    width:100% ;
    
    
}
.play_button_img{
    height:100% ;
    width:100% ;
}
.desc_img img{
     height:80% ;
     width: 90%;
}
.play_button_img img{
     height:70% ;
    width:60% ; 
    transform: translate(40%,20%);
}
/* part -2 */

.part_2{
    margin-top: 2%;
    display: flex;
    flex-direction: row;
}
.desc_part{
    height:100% ;
    width: 100%;
}

.desc_part p{
    text-align: left;
    /* width: 70%; 
    max-width: 100%;  */
    
    font-size: 1.1em; /* Font size */
     /* Justify text to spread it */
    word-spacing: 0.8em; /* Space between words */
    line-height: 1.3em;
}
.desc_part p::after{
    content: "";
    display: inline-block;
    width: 100%;
}
.img_part{
    height:100% ;
    width: 100%;
    
}
.img_part img{
    height: 100%;
    width: 85%;
    transform: translate(10%,0%);
}
.border{
    height:100% ;
    width: 100%;
}
.border img
{
    height:100% ;
    width: 98%;
}
/* part -3 */
.part_3_1{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    margin-top: 2%;
    
}
.img_1_1
{
    height:100% ;
    width:100% ;
}
.img_1_1 img{
    height: 80%;
    width: 80%;
}
.img_2_1
{
    height:100% ;
    width:100% ;
    transform: translate(45%);
}
.img_2_1 img{
    height: 50%;
    width: 50%;
}
/* part-4 */
.part_4{
    margin-top: 2%;
    /* margin-right: 2%; */
}
.specification{
    background-color: #4D4F48;
    width: 100%;
    height: 2.8em;
}
.specification p{
    font-weight: 400;
    max-width: 100%; /* Maximum width of the line */
    
    font-size: 1.6em; /* Font size */
    text-align: center; /* Justify text to spread it */
    word-spacing: 0.10em; /* Space between words */
    line-height: 1.3em;
    color: white;
    transform: translate(0%,10%);
}
.chart{
    width: 100%;
    height: 100%;
}
.chart img{
    width: 100%;
    height: 100%;
}
/* part5 */
.part_5{
    display: flex;
    flex-direction: row;
    
    justify-content: space-around;
    background-color: #4D4F48;
    color: white;
    padding: 3%;

}
.first_label{

}
.first_label p{
    font-weight: 400;
    max-width: 100%; /* Maximum width of the line */
    
    font-size: 1.6em; /* Font size */
    text-align: center; /* Justify text to spread it */
    word-spacing: 0.10em; /* Space between words */
    line-height: 1.3em;
    color: var(--color);
    transform: translate(-15%,10%);

}
.second_label_data{
   transform: translate(0%,10%);
}
.second_label_data, .first_label_data,.third_label_data{
    margin-top: 2%;
}
.third_label p{
    font-weight: 400;
    max-width: 100%; /* Maximum width of the line */
    
    font-size: 1.6em; /* Font size */
    text-align: center; /* Justify text to spread it */
    word-spacing: 0.10em; /* Space between words */
    line-height: 1.3em;
    color: var(--color);
    transform: translate(-15%,10%);

}

/* main container */

.main_container{
    margin: 2% 1% 2% 1%;
}
.sharing_controller{
    background-color: #4D4F48;
    width: 100%;
    height: 2.8em;
}
.sharing_controller p{
    font-weight: 400;
    max-width: 100%; /* Maximum width of the line */
    
    font-size: 1.6em; /* Font size */
    text-align: center; /* Justify text to spread it */
    word-spacing: 0.10em; /* Space between words */
    line-height: 1.3em;
    color: white;
    transform: translate(0%,10%);

}
/* part 2 */
 .sharig_images{
    padding: 2%;
    background-color: var(--color);
    display: flex;
    flex-direction: column;

    
}
.img_1{
    display: flex;
    flex-direction: row;
   justify-content: space-around;
  
    

}
.img_part{
    background-color: white;
    height: 30%;
    width: 30%;

}
 .img_part img{
    height:50% ;
    width: 50%;
    display: flex;
    margin: 14%;
    transform: translate(20%);    
    
} 
 .data_part{
    height: 55px;
    width: 100%;
    background-color: #4D4F48;
    
} 
.data_part p{
    font-weight: 400;
    max-width: 100%; 
    
    font-size: 1.6em; 
    text-align: center; 
    word-spacing: 0.10em; 
    line-height: 1.3em;
    color: white;
    text-align: center;
    transform: translate(0%,20%);
      

}
.desc-part{
    transform: translate(0%,10%);
    
} 
.desc-part ul li{
    font-weight: 400;
    max-width: 100%;
    
    font-size: 1.0em; /* Font size */
    text-align: left; /* Justify text to spread it */
    word-spacing: 0.10em; /* Space between words */
    line-height: 2.0em;

}
/* img-2 */
.img_2{
    display: flex;
    flex-direction: row;
   justify-content: space-around;
   margin-top: 2%;
   transform: translate(-4.2%);

}
.desc-part_2 ul li{
    font-weight: 400;
    max-width: 100%;
    
    font-size: 1.0em; /* Font size */
    text-align: left; /* Justify text to spread it */
    word-spacing: 0.10em; /* Space between words */
    line-height: 2.0em;
    transform: translate(-23%,30%);

}
.img_3
{
    display: flex;
    flex-direction: row;
   justify-content: space-around;
   margin-top: 2%;
   transform: translate(-9.5%);


}
.desc-part_3 ul li{
    font-weight: 400;
    max-width: 100%;
    
    font-size: 1.0em; /* Font size */
    text-align: left; /* Justify text to spread it */
    word-spacing: 0.10em; /* Space between words */
    line-height: 2.0em;
    transform: translate(-115%,30%);

}
/* pRT -3 */
.our_Excellence{
    background-color: #4D4F48;
width: 100%;
height: 2.8em;
}
.our_Excellence p{
    font-weight: 400;
    max-width: 100%; /* Maximum width of the line */
    
    font-size: 1.6em; /* Font size */
    text-align: center; /* Justify text to spread it */
    word-spacing: 0.10em; /* Space between words */
    line-height: 1.3em;
    color: white;
    transform: translate(0%,20%);
}
.part_3{
    margin: 1% 2%;
    background-color: #4D4F48;
    padding-top: 2%;
    display:flex;
    flex-direction: column;
   

}
.first_part{
    display: flex;
    flex-direction: row;
    /* align-items:flex-start; */
    transform: translate(-5%,0%);
    width: 100%;
    height: 100%;
}
.first_part_img_1{
        width: 100%;
        height: 100%;
    transform: translate(30%);
   
    
}
.first_part_img_1 img{
    width: 70%;
    height: 70%;
    

}

.first_part_img_2 img{
    width: 50%;
    height: 100%;
    

}
.first_part_img_2{
    width: 100%;
    height: 100%;
    transform: translate(15%);
   
    
}


.second_part{
    height: 100%;
    width: 100%;
    transform: translate(40%,10%);
}
.second_part img{
    height: 25%;
    width: 25%;
   
}
.desc_1{
    height: 55px;
    width: 70%;
    background-color: var(--color);
    transform: translate(0%,-12%);

}
.desc_1 p{
    font-weight: 400;
    max-width: 100%; 
    
    font-size: 1.0em; 
    text-align: center; 
    word-spacing: 0.10em; 
    line-height: 1.3em;
    color: white;
    
    text-align: center;
    transform: translate(0%,16%);
}
.desc-part_2 {

    background-color: var(--color);
    transform: translate(0%,-12%);

}
.desc-part_2 p{
    font-weight: 400;
    max-width: 100%; 
    
    font-size: 1.3em; 
    text-align: center; 
    word-spacing: 0.10em; 
    line-height: 1.3em;
    color: white;
    
    text-align: center;
    transform: translate(0%,30%);
}

/* footer */
.footer {
    background-color: #333;
    color: white;
    padding-top: 1%;
    height: 50%;
    width: 100%;
}
.footer, .footer_text_1 p{
    font-size:1.5em;
    font-weight: 400;
    text-align: center;
}
.footer, .footer_text_2 p{
    margin-top: 3%;
   font-size: 20px;
   align-items: center;
   line-height: 1.5em;
}
 .foot_1{
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: row;
    

}
.tags{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.tags img{
    margin-left: 3%;
}
.foot_1 .middle_element{
    display: flex;
    flex-direction: column;
}
 .tags{
   
    display: flex;
    justify-content:space-around;
}
.middle_element{
    margin: 10%;
}
.foot_1, .middle_element,.middle_element_text{
    display: flex;
    align-items: center;
}
/* .middle_element_text, img{
    height: 10%;
} */
.foot_text
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.middle_element_text{
    margin-top: 15%;
}

.footer_last_part
{
    background-color: #5c9218;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    color: black

}

.footer_line, p{
    text-align: center;
    line-height: none;
    
    
}


