
.our_label{
    width: 100%;
    
    background-color: #A5C847;
}
.our_label p{
    font-size: 1.5rem;
    text-align: center;
    color: white;
    padding: 4px;
}
.ex_img{
    background-color: #4D4F48;
    display: flex;
    flex-direction: row;
    transform: translate(0%,-5%);
    padding: 40px;
}
.ex_img_1{
    display: flex;
    flex-direction: column;
}
.ex_img_1 img{
    width: 90%;
    height: 90%;
}
.ex_label{
    background-color: #A5C847;
    width: 90%;
}
.ex_label p{
    
    font-size: 1.2rem;
    text-align: center;
    color: white;
}