
.main_div{
    margin-top: 12%;
    margin-bottom: 2%;
}
/* sherimg_hero */

.shering_main_part{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    gap: 2%;
}
.shering_main_part img{
    width: 40%;
    height: 50%;
    
}
.sherimg_right_part{
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    gap: 10px;
    padding-bottom: 2%;
    height: 100%;
    width: 100%;
}
.sharing_machine_desc{
    background-color: var(--secondary-color);
    color: white;
    padding: 2% 2%;
    width: 85%;
    transform: translate(20%, 10%);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px
}
#sharing_main_text{
    font-size: 1.4rem;
}
#sharig_sub_text
{
    font-size: 0.9rem;
}
.sharig_media_buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    margin-top: 2%;
}
.sharig_media_buttons img{
    height: 100%;
    width: 35%;
}  
/* Technical _specification_sharing*/

.tech_part{
    display: flex;
    flex-direction: row;
    gap: 50px;
    border-bottom: 1px solid black;
    margin: 2%;
    

}

.tech_part img{
    height:40%;
    width: 40%;
    margin-right: 1%;
    margin-bottom: 1%;
}

.tech_data p{
    font-size: 1.3rem;
    font-weight: 400;
    text-align: justify;
    word-spacing: 0.2rem;
    line-height: 120%;
}
.Tech_images{
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3% 10%;
}

#im_1{
    height:50%;
    width: 50%;
}
#im_2{
 height:30%;
 width:30% ;
} 
/* Standard_components */
.std_com{
    display: flex;
    flex-direction: row;
    background-color: #4D4F48;
    justify-content: space-around;
    padding-bottom: 5%;
    margin:1%;
    
}
.std_com_1{
  display: flex;
  flex-direction: column;
  
    
}
.std_label_data{
    transform: translate(5%,20%);
    
}
.std_label p{
    color:var(--primary-color);
    font-size:1.45rem ;
    transform: translateY(50%);
}
.std_label_data ul li,.std_label_data_2 ul li{
    color: white;
    font-size: 1rem;
    word-spacing: 0.1rem;
} 
.std_label_data_2 ul li{
    color: white;
    
}
.std_label_data_2 {
    transform: translate(0%,35%);
    
}

/* sherinng_cop*/

#shearing_label{
    background-color: var(--primary-color);
    text-align: center;
    color: white;
    padding: 0.7%;
    font-size: 1.4rem;
    margin: 1%;
}
.sharig_images{
    display: flex;
    flex-direction: column;   
    background-color: #4D4F48;
    width: 98%;
    transform: translateX(1%);
    margin-top:1% ;
   

}
.controller_label{
    background-color: var(--primary-color);
    
    
}
.controller_label p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    padding: 1% 0%;
}
.image_div{
    display: flex;
    flex-direction: row;
    gap: 5%;
   
    margin:  2% 1% 0% 2%;
       
      
    
   
  
}
.i_sharing{
    width: 400px;
    height: 300px;
}
.d_label{
    background-color: var(--primary-color);
    height:15% ;
    transform: translate(0%,-60%);
    
}
.d_label p{
    color: white;
    font-size: 1.5rem;
    text-align: center;
    padding: 2% 0%;
   

}
.shering_data{
    padding:4% 0% ;
}
.shering_data ul li{
    font-size: 1.3rem;
    color: white;
    width: 100%;
}
/* excellernce */

#excellence_pabel{
    background-color: var(--primary-color);
    text-align: center;
    color: white;
    padding: 0.7%;
    font-size: 1.4rem;
    margin: 1%;
}
.ex_img{
    background-color: #4D4F48;
    display: flex;
    flex-direction: row;
    width: 98%;
    transform: translateX(1%);
    padding: 3% 3% 3% 6%;
    margin-top: 1%;
}
.ex_img_1{
    display: flex;
    flex-direction: column;
}
.ex_img_1 img{
    width: 90%;
    height: 90%;
}
.ex_label{
    background-color: #A5C847;
    width: 90%;
}
.ex_label p{
    
    font-size: 1.2rem;
    padding: 2% 0%;
    text-align: center;
    color: white;
}

@media screen and ((max-width:2500px) and (min-width:1290px)) {
    #sharing_main_text,#excellence_pabel{
        font-size: 3rem;
    }
    #sharig_sub_text
    {
        font-size: 1.5rem;
    }
    .tech_data p{
        font-size: 2.5rem;
        
    }
    .std_label p{
        
        font-size:3.45rem ;
   
    }
    .std_label_data ul li,.std_label_data_2 ul li{
        color: white;
        font-size: 2rem;
        
    } 
    #shearing_label{
       
        font-size: 3.0rem;
      
    }
    .d_label p{
      
        font-size: 3.5rem;
    }
    .i_sharing{
        width: 800px;
        height: 600px;
    }
    .shering_data ul li{
        font-size: 2.3rem;
        color: white;
        width: 100%;
    }
    .ex_label p{
    
        font-size: 2.3rem;
        padding: 2% 0%;
        text-align: center;
        color: white;
    }

}

@media screen and ((max-width:2200px) and (min-width:1290px)) {
    #sharing_main_text{
        font-size: 2.4rem;
    }
    #sharig_sub_text
    {
        font-size: 2rem;
    }
    .tech_data p{
        font-size: 2.2rem;
        
    }
    .std_label p{
        
        font-size:3.0rem ;
   
    }
    .std_label_data ul li,.std_label_data_2 ul li{
        color: white;
        font-size: 1.5rem;
        
    } 
    #shearing_label,#excellence_pabel{
       
        font-size: 2.5rem;
      
    }
    .d_label p{
      
        font-size: 3.0rem;
    }
    .i_sharing{
        width: 700px;
        height: 500px;
    }
    .shering_data ul li{
        font-size: 2.3rem;
        color: white;
        width: 100%;
    }
    .ex_label p{
    
        font-size: 1.8rem;
        padding: 2% 0%;
        text-align: center;
        color: white;
    }
}

@media screen and ((max-width:1900px) and (min-width:1290px)) {
    #sharing_main_text{
        font-size: 2.1rem;
    }
    #sharig_sub_text
    {
        font-size: 1.5rem;
    }
    .tech_data p{
        font-size: 1.9rem;
        
    }
    .std_label p{
        
        font-size:2.7rem ;
   
    }
    .std_label_data ul li,.std_label_data_2 ul li{
        color: white;
        font-size: 1.3rem;
        
    } 
    #shearing_label,#excellence_pabel{
       
        font-size: 2.0rem;
      
    }
    .d_label p{
      
        font-size: 2.5rem;
    }
    .i_sharing{
        width: 600px;
        height: 400px;
    }
    .shering_data ul li{
        font-size: 2.0rem;
        color: white;
        width: 100%;
    }
    .ex_label p{
    
        font-size: 1.7rem;
        padding: 2% 0%;
        text-align: center;
        color: white;
    }

}

@media screen and ((max-width:1600px) and (min-width:1290px)) {
    #sharing_main_text{
        font-size: 1.8rem;
    }
    #sharig_sub_text
    {
        font-size: 1.3rem;
    }
    .tech_data p{
        font-size: 1.6rem;
        
    }
    .std_label p{
        
        font-size:2.3rem ;
   
    }
    .std_label_data ul li,.std_label_data_2 ul li{
        color: white;
        font-size: 1.0rem;
        
    } 
    #shearing_label,#excellence_pabel{
       
        font-size: 1.8rem;
      
    }
    .d_label p{
      
        font-size: 2.0rem;
    }
    .i_sharing{
        width: 500px;
        height: 350px;
    }
    .shering_data ul li{
        font-size: 1.7rem;
        color: white;
        width: 100%;
    }
    .ex_label p{
    
        font-size: 1.5rem;
        padding: 2% 0%;
        text-align: center;
        color: white;
    }


}
@media screen and (max-width: 1024px){
    #sharing_main_text{
        font-size: 1.2rem;
    }
    #sharig_sub_text
    {
        font-size: 0.85rem;
    }
    .tech_data p{
        font-size: 1.1rem;
        
        
    }
    .std_label p{
        font-size:1.40rem ;
    }
    .std_label_data ul li,.std_label_data_2 ul li{
        
        font-size: 0.9rem;
        word-spacing: 0.1rem;
    }
    #shearing_label,#excellence_pabel{
       
        font-size: 1.4rem;
      
    }
    .d_label p{
        font-size: 1.4rem;
    
    }
    .shering_data ul li{
        font-size: 1.2rem;
        
    }
    .ex_label p{
    
        font-size: 0.9rem;
        padding: 2% 0%;
        text-align: center;
        color: white;
    }
   
    
}

@media screen and (max-width:912px){
   
    #sharing_main_text{
        font-size: 1.0rem;
    }
    #sharig_sub_text
    {
        font-size: 0.8rem;
    }
    .tech_data p{
        font-size: 1.0rem;
       
    }
    .std_label p{
        font-size:1.35rem ;
    }
    .std_label_data ul li,.std_label_data_2 ul li{
        
        font-size: 0.8rem;
        word-spacing: 0.1rem;
    }
    #shearing_label,#excellence_pabel{
       
        font-size: 1.2rem;
      
    }
    .d_label p{
        font-size: 1.3rem;
    
    }
    .i_sharing{
        width: 380px;
        height: 280px;
    }
   
    
    .shering_data ul li{
        font-size: 1.1rem;
        
    }
   
    .ex_label p{
    
        font-size: 0.8rem;
        padding: 2% 0%;
        text-align: center;
        color: white;
    }
    
}

@media screen and (max-width:853px){
    
    #sharing_main_text{
        font-size: 0.95rem;
    }
    #sharig_sub_text
    {
        font-size: 0.75rem;
    }
    .tech_data p{
        font-size: 0.9rem;
       
    }
    .std_label p{
        font-size:1.3rem ;
    }
    .std_label_data ul li,.std_label_data_2 ul li{
        
        font-size: 0.7rem;
        word-spacing: 0.1rem;
    }
    #shearing_label,#excellence_pabel{
       
        font-size: 1.0rem;
      
    }
    .i_sharing{
        width: 360px;
        height: 260px;
    }

    .d_label p{
        font-size: 1.3rem;
    
    }
    .shering_data ul li{
        font-size: 1.0rem;
        
    }
    .ex_label p{
    
        font-size: 0.75rem;
        padding: 2% 0%;
        text-align: center;
        color: white;
    }
    
    
}


@media screen and (max-width:768px){
   
    #sharing_main_text{
        font-size: 0.9rem;
    }
    #sharig_sub_text
    {
        font-size: 0.7rem;
    }
    .tech_data p{
        font-size: 0.8rem;
        word-spacing: 0.15rem;
       
    }
    .std_label p{
        font-size:1.2rem ;
    }
    .std_label_data ul li,.std_label_data_2 ul li{
        
        font-size: 0.6rem;
        word-spacing: 0.1rem;
    }
    #shearing_label,#excellence_pabel{
       
        font-size: 0.9rem;
      
    }
    .i_sharing{
        width: 340px;
        height: 240px;
    }
    
    .d_label p{
        font-size: 1.3rem;

    
    }
    .shering_data ul li{
        font-size: 1.0rem;
        
    }
    .ex_label p{
    
        font-size: 0.7rem;
        
        text-align: center;
        color: white;
    }
    
}
@media screen and (max-width:600px){
    
    #sharing_main_text{
        font-size: 0.7rem;
    }
    #sharig_sub_text
    {
        font-size: 0.65rem;
    }
    .tech_data p{
        font-size: 0.6rem;
       
    }
    .std_label p{
        font-size:1.1rem ;
    }
    .std_label_data ul li,.std_label_data_2 ul li{
        
        font-size: 0.5rem;
        word-spacing: 0.1rem;
    }
    #shearing_label,#excellence_pabel{
       
        font-size: 0.8rem;
      
    }
    .i_sharing{
        width: 260px;
        height: 180px;
    }
    .d_label p{
        font-size: 1.1rem;
        padding-top: 3%;
    
    }
    .shering_data ul li{
        font-size: 0.75rem;
        
    }
    .ex_label p{
    
        font-size: 0.55rem;
       
    }
}   

 @media screen and (max-width: 575px)
{
    #sharing_main_text{
        font-size: 0.65rem;
    }
    #sharig_sub_text
    {
        font-size: 0.5rem;
    } .std_label p{
        font-size:0.8rem ;
    }
    .std_label_data ul li,.std_label_data_2 ul li{
        
        font-size: 0.45rem;
        word-spacing: 0.1rem;
    }
    #shearing_label,#excellence_pabel{
       
        font-size: 0.7rem;
      
    }
    .i_sharing{
        width: 240px;
        height: 160px;
    }
    .d_label p{
        font-size: 1.0rem;
        padding-top: 3%;
    
    }
    .shering_data ul li{
        font-size: 0.65rem;
        
    }
    .ex_label p{
    
        font-size: 0.50rem;
       
    }
    
}
@media screen and (max-width:540px){
    #sharing_main_text{
        font-size: 0.6rem;
    }
    #sharig_sub_text
    {
        font-size: 0.45rem;
    }
    .tech_data p{
        font-size: 0.53rem;
       
    }
    .std_label p{
        font-size:0.7rem ;
    }
    .std_label_data ul li,.std_label_data_2 ul li{
        
        font-size: 0.40rem;
        word-spacing: 0.1rem;
    }
    #shearing_label,#excellence_pabel{
       
        font-size: 0.6rem;
      
    }
    .i_sharing{
        width: 200px;
        height: 140px;
    }
    .d_label p{
        font-size: 1.0rem;
        
    
    }
    .shering_data ul li{
        font-size: 0.65rem;
        
    }
    .ex_label p{
    
        font-size: 0.48rem;
       
    }
}



@media screen and (max-width: 480px)
{
    #sharing_main_text{
        font-size: 0.55rem;
    }
    #sharig_sub_text
    {
        font-size: 0.4rem;
    }
    .tech_data p{
        font-size: 0.45rem;
        word-spacing: 0.10rem;
       
    }
    .std_label p{
        font-size:0.5rem ;
    }
    .std_label_data ul li,.std_label_data_2 ul li{
        
        font-size: 0.35rem;
        word-spacing: 0.1rem;
      
    }
    .i_sharing{
        width: 220px;
        height: 140px;
    }
    
    .d_label p{
        font-size: 0.9rem;
        padding-top: 2%;
    
    }
    .shering_data ul li{
        font-size: 0.60rem;
        
    }
    .ex_label p{
    
        font-size: 0.46rem;
       
    }
}

@media screen and (max-width: 430px)
{
    
    #sharing_main_text{
        font-size: 0.5rem;
    }
    #sharig_sub_text
    {
        font-size: 0.35rem;
    }
    .std_label p{
        font-size:0.45rem ;
    }
    .std_label_data ul li,.std_label_data_2 ul li{
        
        font-size: 0.30rem;
        word-spacing: 0.15rem;
              
    }
   
}
@media screen and (max-width: 400px)
{
    #sharing_main_text{
        font-size: 0.45rem;
    }
    #sharig_sub_text
    {
        font-size: 0.35rem;
    }
    .tech_data p{
        font-size: 0.4rem;
        margin-bottom: 2%;
       
    }
    .i_sharing{
        width: 160px;
        height: 100px;
    }
    
    .d_label p{
        font-size: 0.7rem;
        padding-top: 2%;
    
    }
    .shering_data ul li{
        font-size: 0.48rem;
        
    }
    .image_div{
        margin:  2% 1% 0% 2%;
       
      
    }
    .ex_label p{
    
        font-size: 0.35rem;
       
    }
}

@media screen and (max-width: 380px)
{
    
    #sharing_main_text{
        font-size: 0.43rem;
    }
    #sharig_sub_text
    {
        font-size: 0.35rem;
    }
    .tech_data p{
        font-size: 0.35rem;
        margin-bottom: 2%;
       
    }
    .i_sharing{
        width: 140px;
        height: 80px;
    }
    
    .d_label p{
        font-size: 0.6rem;
        padding-top: 1%;
    
    }
    .shering_data ul{
        
    }
    .shering_data ul li{
        font-size: 0.4rem;
        line-height: 0.5rem;
        
    }

}



