.shering_main_part{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    gap: 2%;
}
.shering_main_part img{
    width: 40%;
    height: 50%;
    
}
.sherimg_right_part{
    display: flex;
    flex-direction: column;
    background-color: #A5C847;
    gap: 10px;
    padding-bottom: 2%;
    height:100%;
    width: 700px;
}
.sharing_machine_desc{
    background-color: #4D4F48;
    color: white;
    padding: 3% 2%;
    width: 85%;
    line-height: 1.5;
    transform: translate(18%,10%);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
#sharing_main_text{
    font-size: 1.4rem;
}
#sharig_sub_text
{
    font-size: 0.9rem;
}
.sharig_media_buttons{
    display:flex;
    flex-direction: column;
    gap: 10px;
    transform: translate(30%,2%);
    margin-top: 2%;
}
.sharig_media_buttons img{
    height: 100%;
    width: 35%;
}   
@media screen and (max-width:2500px){

}
@media screen and (max-width:1920px){}
@media screen and (max-width:1366px){}
@media screen and (max-width:1199px){}
@media screen and (min-width: 1366px){
   
	
}
@media screen and (max-width: 1024px){
    #sharing_main_text{
        font-size: 1.2rem;
    }
    #sharig_sub_text
    {
        font-size: 0.85rem;
    }
   
    
}

@media screen and (max-width:912px){
   
    #sharing_main_text{
        font-size: 1.0rem;
    }
    #sharig_sub_text
    {
        font-size: 0.8rem;
    }
   
}

@media screen and (max-width:853px){
    
    #sharing_main_text{
        font-size: 0.95rem;
    }
    #sharig_sub_text
    {
        font-size: 0.75rem;
    }
    
}


@media screen and (max-width:768px){
   
    #sharing_main_text{
        font-size: 0.9rem;
    }
    #sharig_sub_text
    {
        font-size: 0.7rem;
    }
    .sharig_media_buttons{
       
        gap: 8px;
        transform: translate(34%,2%);
        margin-top: 1%;
    }
    .sharig_media_buttons img{
        height: 100%;
        width: 30%;
    } 
    
}
@media screen and (max-width:600px){
    
    #sharing_main_text{
        font-size: 0.7rem;
    }
    #sharig_sub_text
    {
        font-size: 0.65rem;
    }
    
}   

 @media screen and (max-width: 575px)
{
    #sharing_main_text{
        font-size: 0.65rem;
    }
    #sharig_sub_text
    {
        font-size: 0.5rem;
    }
}
@media screen and (max-width:540px){
    #sharing_main_text{
        font-size: 0.6rem;
    }
    #sharig_sub_text
    {
        font-size: 0.45rem;
    }
}



@media screen and (max-width: 480px)
{
    #sharing_main_text{
        font-size: 0.55rem;
    }
    #sharig_sub_text
    {
        font-size: 0.4rem;
    }
}

@media screen and (max-width: 430px)
{
    
    #sharing_main_text{
        font-size: 0.5rem;
    }
    #sharig_sub_text
    {
        font-size: 0.35rem;
    }
   
}
@media screen and (max-width: 400px)
{
    #sharing_main_text{
        font-size: 0.45rem;
    }
    #sharig_sub_text
    {
        font-size: 0.35rem;
    }
}

@media screen and (max-width: 380px)
{
    
    #sharing_main_text{
        font-size: 0.43rem;
    }
    #sharig_sub_text
    {
        font-size: 0.35rem;
    }
}



