.cnc_press{
    overflow-x: hidden;
    margin-top: 12%;
}
/* Part_1 */
.machine_main_div{
    position: relative;
    display: inline-block;
}
.machine_main_div img{
    width: 100%;
    height: auto;
}
.btn_and_img_div{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 10%;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    right: 0%;
    left: 0%;
}
#main_machine_label{
    padding: 2%;
    font-weight: 600;
    font-size: 1.8rem;
    word-spacing: 0.2em;
    color: white; 
    text-decoration: none;
    border: none;
    outline: none;
    background-color:#4D4F48;

}
#machine_img{
    height: 50%;
    width: 50%;
}
/* part-2 */
.machine_parent_div{
    margin: 1%;
}
#machine_label{
    padding: 3%;
    font-weight: 600;
    font-size: 1.5rem;
    word-spacing: 0.2em;
    color: white; 
    text-decoration: none;
    border: none;
    outline: none;
    background-color: var(--secondary-color);
    cursor: pointer;
    width: 108%;
}
.machine_desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateY(-40%);
}
#view{
    background-color: var(--color);
    color: white;
    border: none;
    padding: 1.5%;
    font-size:1.5rem;
    font-weight: 400;
    cursor: pointer;
    width: 30%;
    transform: translate(130%,150%);
}
/* part-3 */
#part_3_img{
    height: 50%;
    width: 40%;
}
#part_3_div{
    transform: translateX(-3.4%);
}
/* part-4 */
#part_4_img{
    width: 45%;
    height: 50%;
}
/* part-5 */
#part_5_img{
    width:30%;
    height: 50%;
    transform: translateX(15%);
  
}
#part_5_div{
    transform: translateX(-3.6%);
}

@media screen and ((max-width:2500px) and (min-width:1290px)){
    #main_machine_label{
        font-size: 3.5rem;
    }
    #machine_label{
        font-size: 3rem;
    }
    #view{
        font-size:3rem;
    }
}
@media screen and ((max-width:2200px) and (min-width:1290px)){
    #main_machine_label{
        font-size: 3.0rem;
    }
    #machine_label{
        font-size: 2.5rem;
    }
    #view{
        font-size:2.5rem;
    }
}
@media screen and ((max-width:1900px) and (min-width:1290px)){
    #main_machine_label{
        font-size: 2.5rem;
    }
    #machine_label{
        font-size: 2.0rem;
    }
    #view{
        font-size:2.0rem;
    }
}
@media screen and ((max-width:1600px) and (min-width:1290px)) {
    #main_machine_label{
        font-size: 2.3rem;
    }
    #machine_label{
        font-size: 1.8rem;
    }
    #view{
        font-size:1.8rem;
    }
}
@media screen and (max-width: 1024px){
    #main_machine_label{
        font-size: 1.8rem;
    }
    #machine_label{
        font-size: 1.4rem;
    }
    #view{
        font-size:1.4rem;
    }
    #part_3_div{
        transform: translateX(-3.7%);
    }
    #part_5_div{
        transform: translateX(-4%);
    }
    
    
}

@media screen and (max-width:912px){
    #main_machine_label{
        font-size: 1.5rem;
    }
    #machine_label{
        font-size: 1.2rem;
    }
    #view{
        font-size:1.2rem;
    }
}
@media screen and (max-width:853px){
   
    #main_machine_label{
        font-size: 1.3rem;
    }
    #machine_label{
        font-size: 1.0rem;
    }
    #view{
        font-size:1.0rem;
    }
    #part_3_div{
        transform: translateX(-3.4%);
    }
    #part_5_div{
        transform: translateX(-3.5%);
    }
    
}
@media screen and (max-width:820px){
    #part_5_div{
        transform: translateX(-3.8%);
    }
   
}



@media screen and (max-width:768px){
    #main_machine_label{
        font-size: 1.2rem;
    }
    #machine_label{
        font-size: 1.0rem;
    }
    #view{
        font-size:1.0rem;
    }
    #part_3_div{
        transform: translateX(-3.6%);
    }
    #part_5_div{
        transform: translateX(-3.9%);
    }
    
}


 @media screen and (max-width: 575px)
{
    #main_machine_label{
        font-size: 1.0rem;
    }
    #machine_label{
        font-size: 0.8rem;
    }
    #view{
        font-size:1.0rem;
    }
    #part_3_div{
        transform: translateX(-3.9%);
    }
    #part_5_div{
        transform: translateX(-4.2%);
    }
    
   
}

@media screen and (max-width: 518px)
{
    #main_machine_label{
        font-size: 0.9rem;
    }
    #machine_label{
        font-size: 0.7rem;
    }
    #view{
        font-size:0.9rem;
    }

    
}



@media screen and (max-width: 480px)
{
    #main_machine_label{
        font-size: 0.8rem;
    }
    #machine_label{
        font-size: 0.6rem;
    }
    #view{
        font-size:0.8rem;
    }
  
}


@media screen and (max-width: 430px)
{
    #main_machine_label{
        font-size: 0.7rem;
    }
    #machine_label{
        font-size: 0.5rem;
    }
    #view{
        font-size:0.7rem;
    }
    #part_3_div{
        transform: translateX(-3.5%);
    }
    #part_5_div{
        transform: translateX(-3.7%);
    }
    
}
@media screen and (max-width: 390px)
{
    #main_machine_label{
        font-size: 0.6rem;
    }
    #machine_label{
        font-size: 0.45rem;
    }
    #view{
        font-size:0.5rem;
    }
   
}


