#my_btn{
    background-color: var(--color);
    color: white;
    border: none;
    padding: 13px 40px;
    font-size:25px;
    font-weight: 400;
    position: relative;
    top: 110%;
    left:30%;
    cursor: pointer;
}
#big_img_5{
    width:50%;
    height: 50%;
}
.left_p{

    position: absolute; 
    right: -86.5%;
  
   
    
    
}

.cnc_tag_name{
    background-color: #4D4F48;

}

.cnc_tag_name p {
    font-weight: 500;
    font-size: 1.5em;
    word-spacing: 0.2em;
    
    color: white; 
   padding: 16px 20px;
   
   
    
}
.right_oo{
    display: flex;
    flex-direction: row;
    position: relative;
    top: 0%;
    right: -5%;
}
