
#big_img_2{
    width: 50%;
    height: 50%;
    transform: translateX(65%);
}
@media screen and (max-width: 1024px){
    
    #big_img_2{
        width: 50%;
        height: 50%;
        transform: translateX(0%);
    }
    
}

