.hero_box {
    margin-top: 12%;
    position: relative;
    text-align: center;


}

.hero_image img {
    width: 100%;
    height: auto;
}

.hero_text {
    position: absolute;
    top: 10%;
    left: 0%;
    text-transform: uppercase;
    color: var(--color);
    padding: 20px;
    text-align: start;
    line-height: 2.5rem;
  


}

.hero_text h1 {
    font-size: 3rem;
    font-weight: 600;

}

.hero_text h3 {
    font-size: 1.7rem;
    font-weight: 400;


}

.tag_1 img {
    width: 100%;
    height: auto;
}



.tag_2 img {
    width: 100%;
    height: auto;
}

.hero_button {
    position: absolute;
    top: 80%;
    left: 45%;
    background-color: var(--color);
    color: white;
    border: none;
    padding: 1% 2%;
    font-size: 1.2rem;

    cursor: pointer;

}

.two_name_container{
    margin:3%;
    display: flex;
    flex-direction: row;
}
.two_name_container img{
    width: 50%;
    height: 50%;
}

/* Text Container Styles */
.text_container {
    padding: 0px 15px;
}

.text_container p {


    font-size: 1.3rem;
    text-align: justify;
    word-spacing: 0.4rem;
    line-height: 2rem;
    font-weight: 400;
}

  


/* Overlap Image Section Styles */
.over_lap_class {
    display: flex;
    flex-direction: column;
    padding-right: 10%;

}

.side_of_text {
    background-color: #4D4F48;
    width: 70%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    gap:25px;
}

.overlap_1 {
    display: flex;
    flex-direction: row;
    padding: 5%;
    justify-content: center;
    align-items: center;




}

.overlap_1 img {
    height: 20%;
    width: 20%;
    transform: translateX(70%);

}

.side_of_text p {
    font-size: 2rem;

    word-spacing: 0.4rem;
    line-height: 2rem;
    color: white;
    

}

.more_text button {

    background-color: var(--color);
    color: white;
    border: none;
    padding: 13px 40px;
    font-size: 1.2rem;

    cursor: pointer;
}




