/* forth_break_calculator */
.third_part{
    margin: 1%;
    display: flex;
    flex-direction: row;
   

}
.third_part img{
    width: 30%;
    height:50% ;
    transform: translateX(10%);
}
.part_3_text{
    margin-left: 11%;
}

.part_3_text p::after {
    content: "";
    display: inline-block;
    width: 100%;
}
.calc_class{
    margin-top: 5%;
}
/* forth_part */
.fourth_part{
    display: flex;
    flex-direction: row;
    margin: 1%;
   
}
.image_part{
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 20px;
   
    
}

.image_part img{
    width: 100%;
    height: 100%;
}

.image_data_part{
    margin-left: 5%;
}
.image_data_part img{
    width: 100%;
    height: 95%;
}
.image_data_part p{
    text-align: left;
    color: var(--color);
    font-size: 1.8em;
    font-weight: 400;
    text-align: justify;
    word-spacing: 0.2em;
}
@media screen and (max-width:2500px){

}
@media screen and (max-width:1920px){}
@media screen and (max-width:1366px){}
@media screen and (max-width:1199px){}
@media screen and (min-width: 1366px){
   
	
}
@media screen and (max-width: 1024px){
    
    
   
    
}

@media screen and (max-width:912px){
    
   
   
    
   
}
@media screen and (max-width:853px){
    
   
    .image_data_part img{
       
        height: 93%;
    }
    
    
}


@media screen and (max-width:768px){
   
   .image_data_part p{
    font-size: 1.7rem;
    margin-bottom: 2%;
   }

}
@media screen and (max-width:600px){
    .image_data_part p{
        font-size: 1.3rem;
        margin-bottom: 2%;
    }
}

 @media screen and (max-width: 575px)
{
    
   
}
@media screen and (max-width:540px){
    
    .image_data_part p{
        font-size: 1.2rem;
        margin-bottom: 1%;
    }

}



@media screen and (max-width: 480px)
{
    .image_data_part p{
        font-size: 1.1rem;
        
    }

    
}


@media screen and (max-width: 430px)
{
    .image_data_part p{
        font-size: 0.9rem;
        
    }
   
}
@media screen and (max-width: 390px)
{
    
    .image_data_part p{
        font-size: 0.85rem;
        
    }
    
}

@media screen and (max-width: 376px)
{
    .image_data_part p{
        font-size: 0.8rem;
        
    }
    
}
@media screen and (max-width: 344px)
{
    .image_data_part p{
        font-size: 0.7rem;
        
    }
   

}
@media screen and (max-width: 336px)
{
    .image_data_part p{
        font-size: 0.6rem;
        
    }
} 
@media screen and (max-width: 294px)
{
    
}
@media screen and (max-width: 256px)
{
    .image_data_part p{
        font-size: 0.5rem;
        
    }
    
}
/* legend */
/* fifth part */
.fifth_part{
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 2% 1% 2% 1%;
  
}
.legend{
    display: flex;
    flex-direction: row;
    margin: 5%;
    justify-content: space-around;
    padding: 0% 5% 0% 5%;
    
}
.legend_data{
    width: 100%;
    transform: translate(5%,10%);
}

.legend_data p{
    text-align: left;
    width: 70%;
    
   
    max-width: 100%; /* Maximum width of the line */
    
    font-size: 1.5em; /* Font size */
    text-align: justify; /* Justify text to spread it */
    word-spacing: 0.10em; /* Space between words */
    line-height: 1.3em;

}
.legend img{
    width: 35%;
    height: 40%;
    transform: translate(-20%,-10%);
}
.legend_image img{
    height: 100% ;
    width: 80%;
    transform: translate(10%,-30%);
}
@media screen and (max-width:2500px){

}
@media screen and (max-width:1920px){}
@media screen and (max-width:1366px){}
@media screen and (max-width:1199px){}
@media screen and (min-width: 1366px){
   
	
}
@media screen and (max-width: 1024px){
    .legend_data{
        width: 100%;
        transform: translate(0%,0%);
    }
    .legend_data  p{
        font-size: 1.4em;
        word-spacing: 0.10em; /* Space between words */
       line-height: 1.3em;
    }

   
    
}

@media screen and (max-width:912px){
    
   
    .legend_data  p{
        font-size: 1.3em;
        word-spacing: 00em; /* Space between words */
       line-height: 1.25em;
    }
    
   
    
   
}
@media screen and (max-width:853px){
    
   
    .legend_data  p{
        font-size: 1.2em;
        word-spacing: 00em; /* Space between words */
       line-height: 1.2em;
    }
   
    
    
}


@media screen and (max-width:768px){
   
  
    .legend_data  p{
        font-size: 1.1em;

       line-height: 1.1em;
    }

}
@media screen and (max-width:600px){
    .legend_data  p{
        font-size: 0.85em;
     
    }

}

 @media screen and (max-width: 575px)
{
    .legend_data  p{
        font-size: 0.80em;
       
    }

   
}
@media screen and (max-width:540px){
    .legend_data  p{
        font-size: 0.75em;
       
    }

}



@media screen and (max-width: 480px)
{
    .legend_data  p{
        font-size: 0.65em;
        
    }
    
}


@media screen and (max-width: 430px)
{
  
   
}
@media screen and (max-width: 390px)
{
    .legend_data  p{
        font-size: 0.55em;
        
    }
    
   
    
}

@media screen and (max-width: 376px)
{
    .legend_data  p{
        font-size: 0.5em;
     
    }
    
}
@media screen and (max-width: 344px)
{
    .legend_data  p{
        font-size: 0.45em;
        
    }
    
}
@media screen and (max-width: 336px)
{
    .legend_data  p{
        font-size: 0.4em;
      
    }
} 
@media screen and (max-width: 294px)
{
   
}
@media screen and (max-width: 256px)
{
    .legend_data  p{
        font-size: 0.35em;
      
    }
}
/* specification */
#calc_img{
    width: 98%;
    height:auto ;
    margin: 0% 5% 0% 1%;
  
} 
