.last_part{
    margin: 2% 1% 0% 1% ;
}
.back_img{
    position: relative;
    display: inline-block;

}


.back_img img {
    width:100%;
     height:20%; 
     position: relative;

      
    
 }
 .img_text_part_1{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 10%;
   
    justify-content:flex-end;
    align-items: center;
 }
 
.width_part {
    
    background-color: #4D4F48;
    
    height: 20%;
    padding-right: 2%;
    position: absolute;
    padding-left: 1%;
    left: 0%;
    background-color: #4D4F48;
      color: white; 
        
}

.width_part p {
    font-weight: 500;
    font-size: 1.5em;
    word-spacing: 0.2em;
    
    color: white; 
   
   transform: translateY(-50%);
    
}

.width_part button {
    background-color: var(--color);
    color: white;
    border: none;
    padding: 13px 40px;
    font-size:25px;
    font-weight: 400;
    position: relative;
    top: 10%;
    left:30%;
    cursor: pointer;
   
}

.width_part button:hover
{   
    cursor: pointer;
}

.rg_part{
    display: flex;
    flex-direction: row;
    position: relative;
    top: 0%;
    right: -90%;
    
    

}
#b_img{
    width:50%;
    height: 50%;

}