<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frame-6</title>
    <link rel="stylesheet" href="contet_us.css">
</head>
<body>
    <div id="wrapper">
        <!-- navbar -->
        <div class="container">
            <div class="navbar">
                
                    
                <img src="../Navbar/navbar_images/Group 25.svg" alt="">

            
            <div class="nav_elements">
                 
                    <li>
                        <a href="../Home/home.html">HOME</a>
                    </li>
        
                    <li>
                        <a href="../Company/company.html">COMPANY</a>
                    </li>
                    
                    <li>
                        <a href="../Products/products.html">PRODUCTS</a>
                    </li>
        
                    <li>
                        <a href="../Event/event.html">EVENT</a>
                    </li>
        
                    <li>
                        <a href="../Download/download.html">DOWNLOAD</a>
                    </li>
        
                    <li>
                        <a href="../Video/video.html">VIDEOS</a>
                    </li>
        
                    <li>
                        <a href="../Contect-Us/contect_us.html">CONTACT US</a>
                    </li>
                    
                    
                
            </div>

        
       
        </div>

        <!-- main-page -->
         <div class="main_container">

            <div class="hero_container">
                <div class="hero_image">
                    <img src="./images_for_main_page/businessman-using-laptop-mobile-phone.png" alt="">
                </div>
               
                <div class="des_text">
                    <p>CONTACT US</p>
                </div>
             </div>

             <!-- inquire-section -->
              <div class="second_part">
                <div class="contect_div">
                            <div class="info_div">
                                <img src="./images_for_main_page/Group 93.png" alt="">
                                <div class="data_1">
                                    <div class="d1">
                                        <p>ENQUIRIES: </p>
                                    </div>
                                    <div class="contect_info">
                                        <p>Domestic: Export.parmarllp@gmail.com</p>
                                        <p>International:Export.parmarllp@gmail.com</p>

                                    </div>
                                  
                                </div>
                            </div>
                            <div class="info_div">
                                <img src="./images_for_main_page/Group 91.png" alt="">
                                <div  class="data_1">
                                    <div class="d1">
                                        <p>CONTECT US</p>
                                    </div>
                                    <div class="contect_info">
                                        <p>Domestic: +9195108 22377</p>
                                        <p>International: +9194272 54147
                                    </div>
                                 </p>
                                </div>
                            </div>
                </div>
              
                    <img src="./images_for_main_page/parmar_catalog[1]004 1.png" alt="">
                
              </div>
              <div class="line_border">

              </div>
              <!-- inquire section completer -->
               <!-- country -->
               <div class="country">
                    <div class="header_text">
                        <p>Global Representatives</p>
                    </div>


                    <div class="country_info">
                        <div class="country_divs">
                            <div class="divs_1">
                                <img src="./images_for_main_page/united-arab-emirates.png" alt="">
                                <div class="c_name">
                                    <p>United Arab Emirates</p>
                                </div>
                                
                            </div>
                            <div class="divs_1">
                                <img src="./images_for_main_page/download (2).png" alt="">
                                <div class="c_name">
                                    <p>Saudi Arabia</p>
                                </div>
                               
                            </div>
    
                        </div>
                        
                        
                            <div class="divs_2">
                                <img src="./images_for_main_page/download (3).png" alt="">
                                <div class="c_name_2">
                                    <p>Bahrain</p>
                                </div>
                               
                            </div>
                        
                        

                    </div>
                    
               </div>
               <!-- country-end -->
                <!-- get in touch -->
                 <div>
                    <div class="get_label">
                        <p>GET IN TOUCH</p>
                    </div>

                    <div></div>
                    <!-- form details start -->
                    <form action="" class="details">
                        <div class="user_info">
                            <div class="info_name">
                                <label for="name"> Name:</label>
                                <input type="text" id="name">
                            </div>
                        </div>

                        <div class="cont_info">
                            <div class="user_info_1">
                                <div class="info_name_1">
                                    <label for="name"> Company Name:</label>
                                    <input type="text" id="name">
                                </div>
                            </div>
                            <div class="user_info_1">
                                <div class="info_name_1">
                                    <label for="name"> Phone/Mobile:</label>
                                    <input type="text" id="name">
                                </div>
                            </div>
                        </div>
                        

                         <div class="user_info_2">
                            <div class="info_name_2">
                                <label for="address">Address:</label>
                                <textarea name="" type="text" id="address" rows="2" cols="1"></textarea>
                            </div>
                            
                        </div>

                         <div class="cont_info_1">

                            <div class="user_info_3">

                                <div class="info_name_3">
                                    <label for="name">Country:</label>
                                    <input type="text" id="name">
                                </div>
                                 
                            </div>
                            <div class="user_info_3">
                                <div class="info_name_3">
                                    <label for="name">Email Contect:</label>
                                    <input type="text" id="name">
                                </div>
                            </div>
                        </div>
                         <div class="user_info_4">
                            <div class="info_name_4">
                                <label for="name">Comment/Question</label>
                                <textarea type="text" id="name" rows="2" cols="1"></textarea>
                            </div>
                           
                        </div>
                        <div class="send_button">
                            <p>SEND ENQUIRY</p>
                         </div>   

                        </form>

                        <div class="map_img">
                            <img src="./images_for_main_page/s8dtgkibrilsa.png 1.png" alt="">
                         </div>
                 </div>

                 
                


         </div>
        




        <!-- footer -->
        <div class="footer">
                    
            <p>
                CONTECT US
            </p>
        
        
       

        <div class="footer_text_2">
           
            <p>Survey No. 91, Jay Industrial Area, Hadamtala, 2 Rajkot - 360311 Gondal Road, Rajkot,<br>
                360002.Gujarat-india
            </p>
        </div>
       

        <div class="foot_1">
            

            <img src="../Footer/Footer_images/iso 2.png" alt="" height="150px" width="150px">

            <div class="middle_element">
                
                <div class="tags">

                    <img src="../Footer/Footer_images/Vector-1.png" alt="">
                    <img src="../Footer/Footer_images/Vactor-2.png" alt="">
                    <img src="../Footer/Footer_images/Vector-3.png" alt="">
                    <img src="../Footer/Footer_images/Vector-4.png" alt="">
                  
                </div>

                <div class="middle_element_text">
                    <p>+91 94272 54147 <br>+91 94272 54147</p>
                </div>
            </div>
            
            <img src="../Footer/Footer_images/certificate 2.png" alt=""  height="150px" width="150px">
         
        </div>
        
        <div class="footer_line">
            <p>We are an ISO 9001:2015 certified company established in 2009 engaged in manufacturing of All type of Hydraulic Press</p>
            <br/>Machine in Rajkot- Gujarat -India.
                
            </p>
        </div>
        <div class="footer_last_part">
            <p>© 2024  Parmar CNC Machines (India) LLP, All rights reserved. Developed by <br>
                ELVIS Software pvt,ltd,
            </p>
        </div>
       
        </div>
    

        </div>
    </div>
    
</body>
</html>