

.contect_us{
    position: relative;
    margin-top: 12%;
    
}


/* country section start */
.country{
    margin: 3% 1% 1% 1%;

}
.header_text{
    text-decoration: underline;
    text-underline-offset: 20%;
    text-decoration-thickness: 2px;
     

}
.country_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
.country_divs{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin: 3%;
   
}
.divs_1{
    display: flex;
    flex-direction: row;
    border: 1px solid #C5C5C5;
    border-radius: 12px;
    align-items: center;
    /* justify-content: space-around; */
    height:40% ;
    width: 40%;
    
    
}
.divs_1 img{
    height:70% ;
    width: 22%;
    
    margin:2% 0% 2% 4%;

}
.c_name{
    margin-left: 11%;
}
.div_1 .c_name p{
    font-weight: 500;
    font-size: 2.0em;
    
}
.c_name{
    transform: translate(20%);
}


.divs_2{
    display: flex;
    flex-direction: row;
    border: 1px solid #C5C5C5;
    border-radius: 12px;
    align-items: center;
    height:40% ;
    width: 40%;
    transform: translateX(75%);
    

}
.divs_2 img{
    height:70% ;
    width: 22%;
    font-size: 2.0em;
    margin:2% 0% 2% 4%;
}
.c_name_2  {
    transform: translate(200%);

}
/* get in touch end */

.map_img{
    height:50% ;
    width: 100% ;
}
.map_img img{
    height: 100%;
    width: 100%;
}




