:root {
    --color: #A5C847;
}

.Hyralic_part {
    margin-top: 12%;
}

.Hyderlic_part_1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2%;
}

.Hyderlic_part_1 img {
    width: 38%;
    height: 50%;

}

.machine_description {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    gap: 10px;
    padding-bottom: 2%;
    height: 100%;
    width: 100%;
}

.header_line {
    background-color: var(--secondary-color);
    color: white;
    padding: 3% 2%;
    width: 85%;
    transform: translate(20%, 10%);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

#hyderolic_main_text {
    font-size: 2.0rem;
}

#hyderolic_sub_text {
    font-size: 0.8rem;
}

.hyderolic_media_button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    margin-top: 2%;
}

.hyderolic_media_button img {
    height: 100%;
    width: 35%;
}

/* part-2  */
.Hyralic_2 {
    margin: 1%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.hy_img_part {
    height: 80%;
    width: 85%;


}

.Hyralic_2_desc_part {
    height: 100%;
    width: 100%;
}

.Hyralic_2_desc_part p {
    max-width: 95%;
    text-align: justify;
    font-size: 1.1rem;
    line-height: 120%;
    word-spacing: 0.1rem;
}


.hy_img_part img {
    height: 90%;
    width: 80%;
    transform: translateX(5%);

}

.border {
    height: 100%;
    width: 100%;
    margin-left: 1%;

}

.border img {
    height: 100%;
    width: 98%;

}

/* part-3 */
.Hyralic_3 {
    display: flex;
    flex-direction: row;
    margin: 1%;
    justify-content: center;
    width: 98%;



}

.Hyralic_3_img_1 {
    height: 100%;
    width: 100%;
}

.Hyralic_3_img_1 img {
    height: 50%;
    width: 85%;
}

.Hyralic_3_img_2 {
    height: 100%;
    width: 100%;
    transform: translateX(10%);
}

.Hyralic_3_img_2 img {
    height: 50%;
    width: 60%;
}

.hyralic_last_img {

    display: flex;
    flex-direction: column;
    width: 70%;
    border: 1px solid black;
}


.f_part {
    background-color: var(--primary-color);
}

.f_part p {
    padding: 5% 0;
    color: white;
    font-weight: 600;
    font-size: 1.1rem;
    text-align: center;


}

#hydrolic_img {
    height: 100%;
    width: 90%;
}

.cyb_part {
    background-color: var(--secondary-color);

}

.cyb_part p {
    padding: 5% 0px;

    color: white;
    font-weight: 600;
    font-size: 1.1rem;
    text-align: center;
}

/* part-4 */
/* technical_specification */
/* part 5  */
.part_5 {
    display: flex;
    flex-direction: row;
    margin: 2%;
    justify-content: space-around;
    background-color: #4D4F48;
    color: white;
    padding: 3%;
    margin: 1%;

}

.first_label {
    transform: translate(10%, -40%);
}

.first_label p {
    font-weight: 400;
    max-width: 100%;
    /* Maximum width of the line */

    font-size: 1.8em;
    /* Font size */
    text-align: center;
    /* Justify text to spread it */

    line-height: 1.3em;
    color: var(--primary-color);
    transform: translate(-15%, 10%);

}

.second_label_data {
    transform: translate(0%, 20%);
}

.first_label_data ul li,
.second_label_data ul li {
    max-width: 100%;
    font-size: 1.0rem;
    word-spacing: 0.1rem;
}

@media screen and ((max-width:2500px) and (min-width:1290px)) {
    #hyderolic_main_text {
        font-size: 4.0rem;
    }

    #hyderolic_sub_text {
        font-size: 1.8rem;
    }

    .Hyralic_2_desc_part p {
        font-size: 2.4rem;
    }

    .f_part p,
    .cyb_part p {
        font-size: 3rem;


    }

    .first_label p {
        font-size: 4.0em;


    }

    .first_label_data ul li,
    .second_label_data ul li {

        font-size: 1.7rem;

    }

}

@media screen and ((max-width:2200px) and (min-width:1290px)) {
    #hyderolic_main_text {
        font-size: 3.4rem;
    }

    #hyderolic_sub_text {
        font-size: 1.4rem;
    }

    .Hyralic_2_desc_part p {
        font-size: 2.4rem;
    }

    .f_part p,
    .cyb_part p {
        font-size: 3rem;


    }

    .first_label p {
        font-size: 4.0em;


    }

    .first_label_data ul li,
    .second_label_data ul li {

        font-size: 1.7rem;

    }
}

@media screen and ((max-width:1900px) and (min-width:1290px)) {
    #hyderolic_main_text {
        font-size: 2.9rem;
    }

    #hyderolic_sub_text {
        font-size: 1.0rem;
    }

    .Hyralic_2_desc_part p {
        font-size: 1.9rem;
    }

    .f_part p,
    .cyb_part p {
        font-size: 3rem;


    }

    .first_label p {
        font-size: 3.0em;


    }

    .first_label_data ul li,
    .second_label_data ul li {

        font-size: 1.5rem;

    }

}

@media screen and ((max-width:1600px) and (min-width:1290px)) {
    #hyderolic_main_text {
        font-size: 2.5rem;
    }

    #hyderolic_sub_text {
        font-size: 0.9rem;
    }

    .Hyralic_2_desc_part p {
        font-size: 1.6rem;
    }

    .f_part p,
    .cyb_part p {
        font-size: 2.5rem;


    }

    .first_label p {
        font-size: 2.5em;


    }

    .first_label_data ul li,
    .second_label_data ul li {

        font-size: 1.3rem;

    }

}

@media screen and (max-width: 1024px) {
    #hyderolic_main_text {
        font-size: 1.55rem;
    }

    #hyderolic_sub_text {
        font-size: 0.8rem;
    }

    .Hyralic_2_desc_part p {
        font-size: 1.0rem;
    }

    .f_part p,
    .cyb_part p {
        font-size: 1.4rem;


    }

    .first_label p {
        font-size: 1.5em;


    }

    .first_label_data ul li,
    .second_label_data ul li {

        font-size: 0.9rem;

    }
}



@media screen and (max-width:912px) {
    #hyderolic_main_text {
        font-size: 1.4rem;
    }

    #hyderolic_sub_text {
        font-size: 0.7rem;
    }

    .Hyralic_2_desc_part p {
        font-size: 0.9rem;
    }

    .f_part p,
    .cyb_part p {
        font-size: 1.2rem;


    }

    .first_label p {
        font-size: 1.4em;


    }

    .first_label_data ul li,
    .second_label_data ul li {

        font-size: 0.8rem;

    }
}


@media screen and (max-width:833px) {
    #hyderolic_main_text {
        font-size: 1.3rem;
    }

    #hyderolic_sub_text {
        font-size: 0.6rem;
    }

    .Hyralic_2_desc_part p {
        font-size: 0.8rem;
    }

    .f_part p,
    .cyb_part p {
        font-size: 1.0rem;


    }

    .first_label p {
        font-size: 1.2em;


    }

    .first_label_data ul li,
    .second_label_data ul li {

        font-size: 0.7rem;

    }
}


@media screen and (max-width:768px) {
    #hyderolic_main_text {
        font-size: 1.15rem;
    }

    #hyderolic_sub_text {
        font-size: 0.5rem;
    }

    .Hyralic_2_desc_part p {
        font-size: 0.7rem;
    }

    .f_part p,
    .cyb_part p {
        font-size: 1.0rem;


    }

    .first_label p {
        font-size: 1.0em;


    }

    .first_label_data ul li,
    .second_label_data ul li {

        font-size: 0.6rem;

    }

}

@media screen and (max-width:600px) {
    #hyderolic_main_text {
        font-size: 3.4rem;
    }

    #hyderolic_sub_text {
        font-size: 1.4rem;
    }

    .Hyralic_2_desc_part p {
        font-size: 2.4rem;
    }

    .f_part p,
    .cyb_part p {
        font-size: 3rem;


    }

    .first_label p {
        font-size: 4.0em;


    }

    .first_label_data ul li,
    .second_label_data ul li {

        font-size: 1.7rem;

    }
}

@media screen and ((max-width:1900px) and (min-width:1290px)) {
    #hyderolic_main_text {
        font-size: 2.9rem;
    }

    #hyderolic_sub_text {
        font-size: 1.0rem;
    }

    .Hyralic_2_desc_part p {
        font-size: 1.9rem;
    }

    .f_part p,
    .cyb_part p {
        font-size: 3rem;


    }

    .first_label p {
        font-size: 3.0em;


    }

    .first_label_data ul li,
    .second_label_data ul li {

        font-size: 1.5rem;

    }

}

@media screen and ((max-width:1600px) and (min-width:1290px)) {
    #hyderolic_main_text {
        font-size: 2.5rem;
    }

    #hyderolic_sub_text {
        font-size: 0.9rem;
    }

    .Hyralic_2_desc_part p {
        font-size: 1.6rem;
    }

    .f_part p,
    .cyb_part p {
        font-size: 2.5rem;


    }

    .first_label p {
        font-size: 2.5em;


    }

    .first_label_data ul li,
    .second_label_data ul li {

        font-size: 1.3rem;

    }

}

@media screen and (max-width: 1024px) {
    #hyderolic_main_text {
        font-size: 1.55rem;
    }

    #hyderolic_sub_text {
        font-size: 0.8rem;
    }

    .Hyralic_2_desc_part p {
        font-size: 1.0rem;
    }

    .f_part p,
    .cyb_part p {
        font-size: 1.4rem;


    }

    .first_label p {
        font-size: 1.5em;


    }

    .first_label_data ul li,
    .second_label_data ul li {

        font-size: 0.9rem;

    }
}



@media screen and (max-width:912px) {
    #hyderolic_main_text {
        font-size: 1.4rem;
    }

    #hyderolic_sub_text {
        font-size: 0.7rem;
    }

    .Hyralic_2_desc_part p {
        font-size: 0.9rem;
    }

    .f_part p,
    .cyb_part p {
        font-size: 1.2rem;


    }

    .first_label p {
        font-size: 1.4em;


    }

    .first_label_data ul li,
    .second_label_data ul li {

        font-size: 0.8rem;

    }
}


@media screen and (max-width:833px) {
    #hyderolic_main_text {
        font-size: 1.3rem;
    }

    #hyderolic_sub_text {
        font-size: 0.6rem;
    }

    .Hyralic_2_desc_part p {
        font-size: 0.8rem;
    }

    .f_part p,
    .cyb_part p {
        font-size: 1.0rem;


    }

    .first_label p {
        font-size: 1.2em;


    }

    .first_label_data ul li,
    .second_label_data ul li {

        font-size: 0.7rem;

    }
}


@media screen and (max-width:768px) {
    #hyderolic_main_text {
        font-size: 1.15rem;
    }

    #hyderolic_sub_text {
        font-size: 0.5rem;
    }

    .Hyralic_2_desc_part p {
        font-size: 0.7rem;
    }

    .f_part p,
    .cyb_part p {
        font-size: 1.0rem;


    }

    .first_label p {
        font-size: 1.0em;


    }

    .first_label_data ul li,
    .second_label_data ul li {

        font-size: 0.6rem;

    }
}

@media screen and (max-width: 575px) {

    #hyderolic_main_text {
        font-size: 0.9rem;
    }

    #hyderolic_sub_text {
        font-size: 0.4rem;
    }

    .Hyralic_2_desc_part p {
        font-size: 0.55rem;
    }

    .f_part p,
    .cyb_part p {
        font-size: 0.8rem;


    }

    .first_label p {
        font-size: 0.9em;


    }

    .first_label_data ul li,
    .second_label_data ul li {

        font-size: 0.5rem;

    }
}

@media screen and (max-width:540px) {

    #hyderolic_main_text {
        font-size: 0.8rem;
    }

    #hyderolic_sub_text {
        font-size: 0.35rem;
    }

    .Hyralic_2_desc_part p {
        font-size: 0.50rem;
    }

    .f_part p,
    .cyb_part p {
        font-size: 0.7rem;


    }

    .first_label p {
        font-size: 0.75em;


    }

    .first_label_data ul li,
    .second_label_data ul li {

        font-size: 0.4rem;

    }
}



@media screen and (max-width: 480px) {
    #hyderolic_main_text {
        font-size: 0.75rem;
    }

    #hyderolic_sub_text {
        font-size: 0.30rem;
    }

    .Hyralic_2_desc_part p {
        font-size: 0.45rem;
    }

    .f_part p,
    .cyb_part p {
        font-size: 0.7rem;


    }

    .first_label p {
        font-size: 0.7em;


    }

    .first_label_data ul li,
    .second_label_data ul li {

        font-size: 0.35rem;

    }

}


@media screen and (max-width: 400px) {
    #hyderolic_main_text {
        font-size: 0.6rem;
    }

    #hyderolic_sub_text {
        font-size: 0.3rem;
    }

    .hyderolic_media_button {
        gap: 5px;
    }

    .Hyralic_2_desc_part p {
        font-size: 0.38rem;
        margin-top: 1%;
    }

    .f_part p,
    .cyb_part p {
        font-size: 0.6rem;


    }

    .first_label p {
        font-size: 0.6em;


    }

    .first_label_data ul li,
    .second_label_data ul li {

        font-size: 0.3rem;
    }

}

@media screen and (max-width: 380px) {


    #hyderolic_main_text {
        font-size: 0.55rem;
    }

    #hyderolic_sub_text {
        font-size: 0.3rem;
    }

    .Hyralic_2_desc_part p {
        font-size: 0.34rem;
    }

    .f_part p,
    .cyb_part p {
        font-size: 0.5rem;


    }

    .first_label p {
        font-size: 0.5em;


    }

    .first_label_data ul li,
    .second_label_data ul li {

        font-size: 0.3rem;

    }
}