:root {
  --color: #A5C847;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: end;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.navbar img {
  height: 3%;
  width: 12%;
}

.nav_elements {
  display: flex;
  justify-content: center;
  align-items: end;
  list-style: none;
  flex-grow: 1;
  /* transform: translate(0%,30%); */


}

.nav_elements ul {
  display: flex;
  gap: 35px;
  list-style: none;
}


.nav_elements li a {
  text-decoration: none;
  color: black;
  font-size: 22px;
  font-weight: 400;




}

.nav_elements li a:focus {
  color: var(--color)
}

.nav_elements li a:hover {
  color: var(--color);
  content: "";

  width: 100%;
  height: 2px;


  bottom: -3px;
  left: 0px;
  color: #A5C847;
}



/* .nav_elements li a:active::after,
  .nav_elements li a:hover::after {
    content: "";
    position: absolute;
    width: 15%;
    height: 2px;
    background-color: black;
    
    bottom: -3px;
    left: 0px;
    color: #A5C847;
} */



.menu-icon {
  display: none;
  font-size: 30px;
  color: white;
  cursor: pointer;
  padding: 10px;


}
@media (max-width: 768px) {
  .nav_elements {
    position: absolute;
    top: 60px; /* Adjust based on your navbar height */
    left: 0;
    width: 100%;
    background-color: #333;
    flex-direction: column;
    align-items: center;
    display: none;
  }

  .nav_elements.open {
    display: flex;
  }

  .nav_elements ul {
    flex-direction: column;
    width: 100%;
    padding: 0;
    position: absolute;
  }

  .nav_elements li {
    width: 100%;
    text-align: center;
  }

  .menu-icon {
    display: block;
  }
}



