ul{
    transform: translateY(-5%);
}
ul li{
    
    text-align: left;
        width: 90%; /* Or set to a fixed width like 500px */
        max-width: 100%; /* Maximum width of the line */
        
        font-size: 0.8em; /* Font size */
        text-align: justify; /* Justify text to spread it */
        word-spacing: 0.30em; /* Space between words */
        line-height: 1.4em;

}