.Datapart_data p{
    text-align: justify;
    width: 100%;
    max-width: 70%;
}

.data_main_part{
    display: flex;
    flex-direction: column;
}
.general_hader{
    display: flex;
    flex-direction: column;

}