.hero_section{
    display: flex;
    flex-direction: row;
    
}
.hero_section img{
    height:50% ;
    width: 50%;
}
.hero_img_section{
    display: flex;
    flex-direction: column;
    background-color: #A5C847;
    gap: 20px;
    padding-bottom: 20px;
    
   
}
.hero_img_section img{
    height:10%;
    width: 90%;
    
    transform: translate(12%,10%);
}