.cnc_hero_section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
#cnc_logo_img{
    width: 50%;
    height: 50%;
}

.cnc_text_section{
    display: flex;
    flex-direction: column;
    background-color: #A5C847;
    gap: 10px;
    padding-bottom: 2%;
    height:100%;
    width: 700px;
    
    
   
}
.cnc_description{
        background-color: #4D4F48;
        color: white;
    padding: 3% 2%;
        width: 90%;
        line-height: 1.5;
        transform: translate(12%,10%);
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;

}
#CNC_label_text{
    font-size: 1.8rem;
}
#CNC_sub_label_text{
    font-size: 0.8rem;
}
/* media part */
.media_buttons{
    display:flex;
    flex-direction: column;
    gap: 10px;
    transform: translate(30%,2%);
    margin-top: 2%;

}
#md_btn{
    height: 100%;
    width: 50%;
}
@media screen and (max-width:2500px){

}
@media screen and (max-width:1920px){}
@media screen and (max-width:1366px){}
@media screen and (max-width:1199px){}
@media screen and (min-width: 1366px){
   
	
}
@media screen and (max-width: 1024px){
    #CNC_label_text{
        font-size: 1.45rem;
    }
    #CNC_sub_label_text{
        font-size: 0.55rem;
    }
    .media_buttons{
        display:flex;
        flex-direction: column;
        gap: 8px;
        transform: translate(30%,2%);
        margin-top: 1.5%;
    
    }
    #md_btn{
        height: 100%;
        width: 45%;
    }
   
    
}

@media screen and (max-width:912px){
    #CNC_label_text{
        font-size: 1.30rem;
    }
    
   
}

@media screen and (max-width:853px){
    
    #CNC_label_text{
        font-size: 1.22rem;
    }
    
}


@media screen and (max-width:768px){
   
    #CNC_label_text{
        font-size: 1.1rem;
    }

}
@media screen and (max-width:600px){
    #CNC_label_text{
        font-size: 0.85rem;
    }
    #CNC_sub_label_text{
        font-size: 0.5rem;
    }
  
}

 @media screen and (max-width: 575px)
{
    #CNC_label_text{
        font-size: 0.82rem;
    }
    #CNC_sub_label_text{
        font-size: 0.4rem;
    }
}
@media screen and (max-width:540px){
    
    #CNC_label_text{
        font-size: 0.77rem;
    }
    #CNC_sub_label_text{
        font-size: 0.45rem;
    }
}



@media screen and (max-width: 480px)
{
    #CNC_label_text{
        font-size: 0.67rem;
    }
    #CNC_sub_label_text{
        font-size: 0.4rem;
    }
}

@media screen and (max-width: 430px)
{
    
    #CNC_label_text{
        font-size: 0.61rem;
    }
    #CNC_sub_label_text{
        font-size: 0.4rem;
    }
    .media_buttons{
        display:flex;
        flex-direction: column;
        gap: 8px;
        transform: translate(30%,2%);
        margin-top: 0.5%;
    
    }
   
}
@media screen and (max-width: 400px)
{
    #CNC_label_text{
        font-size: 0.55rem;
    }
    #CNC_sub_label_text{
        font-size: 0.3rem;
    }

    
}

@media screen and (max-width: 390px)
{
    #CNC_label_text{
        font-size: 0.56rem;
    }
    #CNC_sub_label_text{
        font-size: 0.3rem;
    }
  

}
