.tool_holder_part{
    height:100% ;
    width: 100%;
}
.standard{
    background-color:var(--color);
    height:3em ;
    width: 96%;
    transform: translate(2%,20%);

}
.standard p{
    font-weight: 400;
    max-width: 100%; /* Maximum width of the line */
    
    font-size: 1.6em; /* Font size */
    text-align: center; /* Justify text to spread it */
    word-spacing: 0.10em; /* Space between words */
    line-height: 1.3em;
    color: white;
    transform: translate(0%,20%);

}
.tool_holder_part{
    background-color: var(--color);
    margin: 2%;
    width: 96%;
}
.de_text{
    height: 20%;
    width: 20%;
    background-color: white;
    transform: translate(200%,30%);
    

}
.de_text p{
    font-weight: 400;
    max-width: 100%; /* Maximum width of the line */
    
    font-size: 1.6em; /* Font size */
    text-align: center; /* Justify text to spread it */
    word-spacing: 0.10em; /* Space between words */
    line-height: 1.3em;
   color: var(--color);
 

}
.img_part {
    display: flex;
    flex-direction: row;
    justify-content:center ;
    align-items: center;
    margin-top: 2% 2% 0% 2%;
    transform: translate(2%);
    padding: 2%;
    

}
.img_container img{
    height:70% ;
    width: 70%;
}
.img_container p{
    font-weight: 400;
    max-width: 80%; /* Maximum width of the line */
    
    font-size: 1.0em; /* Font size */
    text-align: center; /* Justify text to spread it */
    word-spacing: 0.10em; /* Space between words */
    line-height: 1.3em;
   

}
/* border lines */
.main_border{
    height: 50px;
    width: 100%;
    background-color: #4D4F48;
}
.second_border{
    background-color: #B4B4B2;
    width:100% ;
    height: 20px;
}
