
.std_main_div{
   display: flex;
   /* flex-direction: row; */
   flex-wrap: wrap;
   margin-top: 2%;
   width: 96%;
   margin-left: 2%;
   padding-left: 2%;
   align-items: center;
   background-color: #4D4F48;
}
.item_div{
   flex: 1 1 calc(33%); /* 50% width for two columns, minus gap */
  box-sizing: border-box;
   margin: 2% 0%;
  display: flex;
  flex-direction: column;
  text-align: center;
 
}
.item_div img{
   width: 90%;
   height: 90%;
}
.item_div p{
   width: 90%;
   background-color: var(--color);
   padding: 2%;
   font-size: 1.5rem;
   color: white;
  
}

@media screen and (max-width:2500px){

}
@media screen and (max-width:1920px){}
@media screen and (max-width:1366px){}
@media screen and (max-width:1199px){}
@media screen and (min-width: 1366px){
   
	
}
@media screen and (max-width: 1024px){
 
    
}

@media screen and (max-width:912px){
    
   
   
   
}
@media screen and (max-width:833px){
    
    
    
}


@media screen and (max-width:768px){
   .item_div p{
      font-size: 0.8rem;
   }
   .hydraulic_c p{
      font-size: 1rem;
   }
}
@media screen and (max-width:600px){
   

}

 @media screen and (max-width: 575px)
{
    
 

}
@media screen and (max-width:540px){
   
    
   
}



@media screen and (max-width: 480px)
{
   
}


@media screen and (max-width: 430px)
{
   
   
}
@media screen and (max-width: 390px)
{
  
}

@media screen and (max-width: 376px)
{
  
}
@media screen and (max-width: 344px)
{
   
}
   
    

@media screen and (max-width: 336px)
{
   
} 
@media screen and (max-width: 294px)
{
   
}
@media screen and (max-width: 256px)
{
   
}