/* step start */
.step{

    background-color:var(--color);
    height:3em ;
    width: 96%;
    transform: translate(2%,20%);
}
.step p {
    font-weight: 400;
    max-width: 100%; /* Maximum width of the line */
    
    font-size: 1.6em; /* Font size */
    text-align: center; /* Justify text to spread it */
    word-spacing: 0.10em; /* Space between words */
    line-height: 1.3em;
    color: white;
    transform: translate(0%,20%);

}
.step_container{
    background-color:#4D4F48;
    height:100% ;
    width: 96%;
    margin-left: 2%;
    margin-top: 0.5%;
    

}
 @media screen and (max-width:2500px){

 }
 @media screen and (max-width:1920px){}
 @media screen and (max-width:1366px){}
 @media screen and (max-width:1199px){}
 @media screen and (min-width: 1366px){
    
     
 }
 @media screen and (max-width: 1024px){
  
     
 }
 
 @media screen and (max-width:912px){
     
   
     
     
    
 }
 @media screen and (max-width:833px){
     
     
     
 }
 
 
 @media screen and (max-width:768px){
    
     
 
 }
 @media screen and (max-width:600px){
     
 }
 
  @media screen and (max-width: 575px)
 {
     
    
 }
 @media screen and (max-width:540px){
     
    
 }
 
 
 
 @media screen and (max-width: 480px)
 {
  
    
 }
 
 
 @media screen and (max-width: 430px)
 {
     
    
 }
 @media screen and (max-width: 390px)
 {
     
     
 }