<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="event.css">
</head>
<body>
    <div id="wrapper">
        <div class="container">
                 <!-- navbar start -->
                 <div class="navbar">
                    <nav class="nevi">
                        <div class="nav_img">
                            <img src="./images_for_main_page/nav_image.svg" alt="">
                        </div>
                        <div class="nav_elements">
                            <ul class="na">
                                <li>
                                    <a href="./home.html">Home</a>
                                </li>
                    
                                <li>
                                    <a href="../Company/company.html">COMPANY</a>
                                </li>
                                
                                <li>
                                    <a href="../Products/products.html">PRODUCTS</a>
                                </li>
                    
                                <li>
                                    <a href="../Event/event.html">EVENT</a>
                                </li>
                    
                                <li>
                                    <a href="../Download/download.html">DOWNLOAD</a>
                                </li>
                    
                                <li>
                                    <a href="../Video/video.html">VIDEOS</a>
                                </li>
                    
                                <li>
                                    <a href="../Contect-Us/contect_us.html">CONTACT US</a>
                                </li>
                                
                                
                            </ul>
                        </div>
                    </nav>
                </div>
                <!-- navbar end -->

                <!-- main-part -start -->
                 <!-- main-part-end -->

                  <!-- footer_start -->
                <div class="footer">
                    <div class="footer_text_1">
                        <p>
                            <center>CONTECT US</center>
                        </p>
                    </div>
                    
                   

                    <div class="footer_text_2">
                       
                        <p><center>Survey No. 91, Jay Industrial Area, Hadamtala, 2 Rajkot - 360311 Gondal Road, Rajkot,<br>
                            360002.Gujarat-india</center>
                        </p>
                    </div>
                   

                    <div class="foot_1">
                        

                        <img src="./images_for_main_page/Footer_1.1.png" alt="" height="150px" width="150px">

                        <div class="middle_element">
                            
                            <div class="tags">

                                <div class="icon_width"><img src="./images_for_main_page/Footer_image_2.1.png" alt=""></div>
                                <div class="icon_width"> <img src="./images_for_main_page/Footer_image_2.2.png" alt=""></div>
                                <div class="icon_width"><img src="./images_for_main_page/Footer_image_2.3.png" alt=""></div>
                                <div class="icon_width"><img src="./images_for_main_page/Footer_image_2.4.png" alt=""></div>
                                
                               
                                
                              
                            </div>

                            <div class="middle_element_text">
                                <p>+91 94272 54147 <br>+91 94272 54147</p>
                            </div>
                        </div>
                        
                        <img src="./images_for_main_page/Footer_1.2.png" alt=""  height="150px" width="150px">
                     
                    </div>
                    
                    <div class="footer_line">
                        <p>We are an ISO 9001:2015 certified company established in 2009 engaged in manufacturing of All type of Hydraulic Press</p><br/>
                            <center>
                                Machine in Rajkot- Gujarat -India.
                             </center>
                        </p>
                    </div>
                   
                </div>
                <div class="footer_last_part">
                    <p>© 2024  Parmar CNC Machines (India) LLP, All rights reserved. Developed by <br>
                        <center>ELVIS Software pvt,ltd,</center>
                    </p>
                </div>
                <!-- footer -end -->
        </div>
    </div>
    
</body>
</html>