<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="cnc_machine.css">
</head>

<body>
    <div id="wrapper">
        <div class="container">
            <!-- navbar start -->
            <div class="navbar">


                <img src="./images_for_main_page/nav_image.svg" alt="">


                <div class="nav_elements">

                    <li>
                        <a href="../../Home/home.html">Home</a>
                    </li>

                    <li>
                        <a href="../../Company/company.html">COMPANY</a>
                    </li>

                    <li>
                        <a href="../../Products/Frame_3(main_page)/products.html">PRODUCTS</a>
                    </li>

                    <li>
                        <a href="../../Event/event.html">EVENT</a>
                    </li>

                    <li>
                        <a href="../../Download/download.html">DOWNLOAD</a>
                    </li>

                    <li>
                        <a href="../../Video/video.html">VIDEOS</a>
                    </li>

                    <li>
                        <a href="../../Contect-Us/contect_us.html">CONTACT US</a>
                    </li>



                </div>



            </div>
            <!-- navbar end -->

            <!-- main content -->

            <div class="main_container">

                <!-- first part -->
                <div class="first_part">
                    <img src="./images_for_main_page/CNC Press Brake 6000x800tone 3.png" alt="">

                    <!-- right part -->

                    <div class="many_images">

                        <img class="cnc_press_img" src="./images_for_main_page/Group 18.png" alt="">
                        <img class="download_fet" src="./images_for_main_page/Group 26.png" alt="">

                    </div>
                </div>

                <!-- second part -->
                <div class="second_part">

                    <div class="data_part">

                        <div class="data_of_machine_1">
                            <p>
                                Edge Series Press Brake Heavy Duty Frame is
                                Designed to minimize welding structures to the
                                highest possible uniformity in the press brake
                                frame structure . In addition to high quality, we
                                achieve a cost-effective and fastmanufacturing
                                process that enables large - scale press brakes to
                                be also delivered quickly and affordably to our
                                customers.
                            </p>
                        </div>

                        <div class="data_of_machine_2">
                            <p>General Specifications :</p>
                            <ul>
                                <li>High sensitivity, stress relieved steel construction body, long life frame.</li>
                                <li>Automatic calibration and first start up.</li>
                                <li>Ball Screw and linear guide integrated perfect back gauge system.</li>
                                <li>Durable, long life and sensitive bending capable special hardened top tools </li>
                                <li>Suitable for segmented tools special and fast tool holding system..</li>
                                <li>Sensitive solution on long and deep bending.</li>
                                <li>High accuracy linear scales</li>
                                <li>Best quality world wide accepted hydraulic and electric components</li>
                            </ul>
                        </div>

                    </div>
                    <!-- right part  -->

                    <img src="./images_for_main_page/CNC Press Brake 6000x800tone 4.png" alt="">
                </div>

                <!-- border line -->
                <div class="border_line"></div>

                <!-- third part -->
                <div class="third_part">
                    <img src="./images_for_main_page/Group 27.png" alt="">
                    <div class="part_3_text">
                        <p>
                            You can use this calculator to calculate necessary
                            tonnage for press brake to perform the bending
                            of necessary part. It means that you can verify the
                            max. Tonnage according to the technical specification
                            of press brake or check the max. obtained tonnage
                            by the press brake bending tooling compare to the
                            necessary force. All bending tools have limits of force
                            to be used.
                        </p>

                        <div class="calc_class">
                            <p>This calculator is used for standard air bending process</p>
                        </div>

                    </div>
                </div>

                <!-- fourthpart -->

                <div class="fourth_part">
                    <!-- image part -->
                    <div class="image_part">

                        <div class="img_1">
                            <img src="./images_for_main_page/Group 28.png" alt="">
                        </div>
                        <div class="img_2">
                            <img src="./images_for_main_page/image 2.png" alt="">
                        </div>



                    </div>
                    <div class="image_data_part">
                        <p>Press brake Air bending force calculator</p>
                        <img src="./images_for_main_page/parmar catalog[1] 1.png" alt="">
                    </div>
                </div>

                <!-- fifth part -->
                <div class="fifth_part">

                    <div class="legend">
                        <div class="legend_data">
                            <p>
                                The V opening of the bottom die is 8
                                times the thickness of the sheet.
                                However, for the thicker plate, the V
                                opening should be bigger. The following
                                recommend V opening of the bottom die
                                can be your reference.
                            </p>
                        </div>


                        <img src="./images_for_main_page/Group 30.png" alt="">

                    </div>

                    <div class="legend_image">
                        <img src="./images_for_main_page/Group 31.png" alt="">
                    </div>


                </div>

                <!-- six_part -->
                <div class="under_imag">
                    <img src="./images_for_main_page/Group 35.png" alt="">
                </div>

                <!-- 7th part -->
                <div class="cnc_header">
                    <p>CNC Controller</p>
                </div>

                <div class="delem">
                    <p>
                        DELEM
                    </p>
                </div>

                <!-- 8th part -->

                <div>
                    <!-- reen cplor background -->
                    <div class="eight_part">

                        <div class="main_1">
                            <!-- 8.1 part -->
                            <div class="products">
                                <div class="p_1">
                                    <div class="label">
                                        <p>DA- 53 T</p>
                                    </div>

                                    <div class="label_img">
                                        <img src="./images_for_main_page/image 3.png" alt="">
                                    </div>

                                    <div class="product_desc">

                                        <ul>
                                            <li>"Hot-key" touch navigation</li>
                                            <li>"10.1" hig resolution colour TFT</li>
                                            <li>Up to 4 axes (Y!,Y2 + 2 aux.axes)</li>
                                            <li>Crowning control</li>
                                            <li>Tool/material/ Product library</li>
                                            <li>Servo and frequency inventer control</li>
                                            <li>TandemLink (option)</li>
                                            <li>USB memory stick interfacing</li>
                                            <li>Profile-T offiine software</li>
                                        </ul>

                                    </div>
                                </div>
                                <div class="p_2">
                                    <div class="label">
                                        <p>DA- 58 T</p>
                                    </div>
                                    <div class="label_img">
                                        <img src="./images_for_main_page/image 6.png" alt="">
                                    </div>

                                    <div class="product_desc">
                                        <ul>
                                            <li>2D graphical touch screen progrramming</li>
                                            <li>15"high resolution colour TFT</li>
                                            <li>Bend sequence calculation</li>
                                            <li>Crowning control</li>
                                            <li>Servo and frequecy inverter control</li>
                                            <li>USB, peripheral interfacing</li>
                                            <li>profile-T offline software</li>

                                        </ul>

                                    </div>
                                </div>
                            </div>

                            <!-- 8.2 part -->
                            <div class="products">
                                <div class="p_1">
                                    <div class="label">
                                        <p>DA- 66 T</p>
                                    </div>

                                    <div class="label_img">
                                        <img src="./images_for_main_page/image 7.png" alt="">
                                    </div>

                                    <div class="product_desc">

                                        <ul>
                                            <li>2D graphical touch screen programming mode</li>
                                            <li>17" high resolution colour TFT</li>
                                            <li>Full Windows application suite</li>
                                            <li>Delem Modusys application suite<br>
                                                (module scalability and adaptivity)
                                            </li>
                                            <li>USB, peripheral interfacing</li>
                                            <li>User specific appplication support within the control's multitasking
                                                environment</li>
                                            <li>Sensor bending & correction interface Profile-TL office software</li>

                                        </ul>

                                    </div>
                                </div>
                                <div class="p_2">
                                    <div class="label">
                                        <p>DA- 69 T</p>
                                    </div>
                                    <div class="label_img">
                                        <img src="./images_for_main_page/image 8.png" alt="">
                                    </div>

                                    <div class="product_desc">
                                        <ul>
                                            <li>3D and 2D graphical touch screen programming mode</li>
                                            <li>3D visualisation in simulation and production</li>
                                            <li>17" high resolution colour TFT</li>
                                            <li>Full Windows application suite</li>
                                            <li>Delem Modusys compatiility (module scalability and adaptivity)</li>
                                            <li>USB, peripheral interfacing</li>
                                            <li>User specific application support within te control's multitasking
                                                enviroment</li>
                                            <li>Sensor bendig & correction interface</li>
                                            <li>Profile-T3D offline software</li>

                                        </ul>

                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="border_line"></div>

                    </div>

                    <!-- black color background -->
                    <div>

                        <div class="eight_part_1">

                            <div class="main_2">

                                <div class="products_1">
                                    <div class="p_1">
                                        <div class="label_1">
                                            <p>DA- 53 T</p>
                                        </div>

                                        <div class="label_img_1">
                                            <img src="./images_for_main_page/image 3.png" alt="">
                                        </div>

                                        <div class="product_desc_1">

                                            <ul>
                                                <li>"Hot-key" touch navigation</li>
                                                <li>"10.1" hig resolution colour TFT</li>
                                                <li>Up to 4 axes (Y!,Y2 + 2 aux.axes)</li>
                                                <li>Crowning control</li>
                                                <li>Tool/material/ Product library</li>
                                                <li>Servo and frequency inventer control</li>
                                                <li>TandemLink (option)</li>
                                                <li>USB memory stick interfacing</li>
                                                <li>Profile-T offiine software</li>
                                            </ul>

                                        </div>
                                    </div>
                                    <div class="p_2">
                                        <div class="label_1">
                                            <p>DA- 53 TX</p>
                                        </div>
                                        <div class="label_img_1">
                                            <img src="./images_for_main_page/image 9.png" alt="">
                                        </div>

                                        <div class="product_desc_1">
                                            <ul>
                                                <li>Numerical touch screen progrramming</li>
                                                <li>15" high resolution colour TFT</li>
                                                <li>Crowning control</li>
                                                <li>Servo and frequecy inverter control</li>
                                                <li>Advanced Y-axis control algorithms for closed-loop as well as
                                                    open-loop valves</li>
                                                <li>USB, peripheral interfacing</li>
                                                <li>profile-T offline software</li>

                                            </ul>

                                        </div>
                                    </div>
                                </div>

                                <div class="products_1">
                                    <div class="p_1">
                                        <div class="label_1">
                                            <p>DA- 66 S</p>
                                        </div>

                                        <div class="label_img_1">
                                            <img src="./images_for_main_page/image 10.png" alt="">
                                        </div>

                                        <div class="product_desc_1">

                                            <ul>
                                                <li>2D graphical touch screen progrramming mode</li>
                                                <li>3D machine representation, in simulation and producation</li>
                                                <li>24" high resolution color TFT</li>
                                                <li>Delem Modusys compatibility<br>
                                                    (module scalability and adaptivity)</li>
                                                <li>USB, peripheral interfacing</li>
                                                <li>User, specific application support within the control's multitasking
                                                    enviroment</li>
                                                <li>Sensor bending & correction interface</li>
                                                <li>Profile-S2D offline software</li>
                                            </ul>

                                        </div>
                                    </div>
                                    <div class="p_2">
                                        <div class="label_1">
                                            <p>DA- 69 S</p>
                                        </div>
                                        <div class="label_img_1">
                                            <img src="./images_for_main_page/image 6.png" alt="">
                                        </div>

                                        <div class="product_desc_1">
                                            <ul>
                                                <li> 3D and 2D graphical touch screen progrramming mode</li>
                                                <li>3D visualization, including 3D machine representation in simulation
                                                    and producation</li>
                                                <li>24" high resolution color TFT</li>
                                                <li>Delem Modusys compatibility <br>
                                                    (module scalability and adaptivity)</li>
                                                <li>USB, peripheral interfacing</li>
                                                <li>User specific application support within the control's multitasking
                                                    environment</li>
                                                <li>Sensor bending & correction interface</li>
                                                <li> Profile-S3D offline software</li>

                                            </ul>

                                        </div>

                                    </div>
                                </div>

                            </div>



                        </div>
                    </div>
                </div>

                <!-- ninth part -->
                <div>
                    <div class="cybelec">
                        <p>
                            CYBELEC
                        </p>
                    </div>
                    <!-- CYBELEC part -->

                    <div class="eight_part_2">

                        <div class="main_1">
                            <!-- 8.1 part -->
                            <div class="products">
                                <div class="p_1">
                                    <div class="label">
                                        <p>DA- 53 T</p>
                                    </div>

                                    <div class="label_img">
                                        <img src="./images_for_main_page/image 17.png" alt="">
                                    </div>

                                    <div class="product_desc_2">

                                        <ul>
                                            <li>"Hot-key" touch navigation</li>
                                            <li>"10.1" hig resolution colour TFT</li>
                                            <li>Up to 4 axes (Y!,Y2 + 2 aux.axes)</li>
                                            <li>Crowning control</li>
                                            <li>Tool/material/ Product library</li>
                                            <li>Servo and frequency inventer control</li>
                                            <li>TandemLink (option)</li>
                                            <li>USB memory stick interfacing</li>
                                            <li>Profile-T offiine software</li>
                                        </ul>

                                    </div>
                                </div>
                                <div class="p_2">
                                    <div class="label">
                                        <p>DA- 58 T</p>
                                    </div>
                                    <div class="label_img">
                                        <img src="./images_for_main_page/image 18.png" alt="">
                                    </div>

                                    <div class="product_desc">
                                        <ul>
                                            <li>2D graphical touch screen progrramming</li>
                                            <li>15"high resolution colour TFT</li>
                                            <li>Bend sequence calculation</li>
                                            <li>Crowning control</li>
                                            <li>Servo and frequecy inverter control</li>
                                            <li>USB, peripheral interfacing</li>
                                            <li>profile-T offline software</li>

                                        </ul>

                                    </div>
                                </div>
                            </div>

                            <!-- 8.2 part -->
                            <div class="products">
                                <div class="p_1">
                                    <div class="label">
                                        <p>DA- 66 T</p>
                                    </div>

                                    <div class="label_img">
                                        <img src="./images_for_main_page/image 19.png" alt="">
                                    </div>

                                    <div class="product_desc">

                                        <ul>
                                            <li>2D graphical touch screen programming mode</li>
                                            <li>17" high resolution colour TFT</li>
                                            <li>Full Windows application suite</li>
                                            <li>Delem Modusys application suite<br>
                                                (module scalability and adaptivity)
                                            </li>
                                            <li>USB, peripheral interfacing</li>
                                            <li>User specific appplication support within the control's multitasking
                                                environment</li>
                                            <li>Sensor bending & correction interface Profile-TL office software
                                            </li>

                                        </ul>

                                    </div>
                                </div>
                                <div class="p_2">
                                    <div class="label">
                                        <p>DA- 69 T</p>
                                    </div>
                                    <div class="label_img">
                                        <img src="./images_for_main_page/image 20.png" alt="">
                                    </div>

                                    <div class="product_desc">
                                        <ul>
                                            <li>3D and 2D graphical touch screen programming mode</li>
                                            <li>3D visualisation in simulation and production</li>
                                            <li>17" high resolution colour TFT</li>
                                            <li>Full Windows application suite</li>
                                            <li>Delem Modusys compatiility (module scalability and adaptivity)</li>
                                            <li>USB, peripheral interfacing</li>
                                            <li>User specific application support within te control's multitasking
                                                enviroment</li>
                                            <li>Sensor bendig & correction interface</li>
                                            <li>Profile-T3D offline software</li>

                                        </ul>

                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

                <!-- tenth part -->
                <div>

                    <!-- step part -->
                    <div class="step">
                        <p>
                            STEP
                        </p>
                    </div>
                    <div class="eight_part_3">

                        <div class="main_1">
                            <!-- 8.1 part -->
                            <div class="products">
                                <div class="p_1">
                                    <div class="label">
                                        <p>DA- 53 T</p>
                                    </div>

                                    <div class="label_img">
                                        <img src="./images_for_main_page/parmar catalog[1]00000 1.png" alt="">
                                    </div>

                                    <div class="product_desc">

                                        <ul>
                                            <li>"Hot-key" touch navigation</li>
                                            <li>"10.1" hig resolution colour TFT</li>
                                            <li>Up to 4 axes (Y!,Y2 + 2 aux.axes)</li>
                                            <li>Crowning control</li>
                                            <li>Tool/material/ Product library</li>
                                            <li>Servo and frequency inventer control</li>
                                            <li>TandemLink (option)</li>
                                            <li>USB memory stick interfacing</li>
                                            <li>Profile-T offiine software</li>
                                        </ul>

                                    </div>
                                </div>
                                <div class="p_2">
                                    <div class="label">
                                        <p>DA- 58 T</p>
                                    </div>
                                    <div class="label_img">
                                        <img src="./images_for_main_page/image 21.png" alt="">
                                    </div>

                                    <div class="product_desc">
                                        <ul>
                                            <li>2D graphical touch screen progrramming</li>
                                            <li>15"high resolution colour TFT</li>
                                            <li>Bend sequence calculation</li>
                                            <li>Crowning control</li>
                                            <li>Servo and frequecy inverter control</li>
                                            <li>USB, peripheral interfacing</li>
                                            <li>profile-T offline software</li>

                                        </ul>

                                    </div>
                                </div>
                            </div>

                            <!-- 8.2 part -->
                            <div class="products">
                                <div class="p_1">
                                    <div class="label">
                                        <p>DA- 66 T</p>
                                    </div>

                                    <div class="label_img">
                                        <img src="./images_for_main_page/image 22.png" alt="">
                                    </div>

                                    <div class="product_desc">

                                        <ul>
                                            <li>2D graphical touch screen programming mode</li>
                                            <li>17" high resolution colour TFT</li>
                                            <li>Full Windows application suite</li>
                                            <li>Delem Modusys application suite<br>
                                                (module scalability and adaptivity)
                                            </li>
                                            <li>USB, peripheral interfacing</li>
                                            <li>User specific appplication support within the control's multitasking
                                                environment</li>
                                            <li>Sensor bending & correction interface Profile-TL office software
                                            </li>

                                        </ul>

                                    </div>
                                </div>
                                <div class="p_2">
                                    <div class="label">
                                        <p>DA- 69 T</p>
                                    </div>
                                    <div class="label_img">
                                        <img src="./images_for_main_page/parmar catalog[1]20 1.png" alt="">
                                    </div>

                                    <div class="product_desc">
                                        <ul>
                                            <li>3D and 2D graphical touch screen programming mode</li>
                                            <li>3D visualisation in simulation and production</li>
                                            <li>17" high resolution colour TFT</li>
                                            <li>Full Windows application suite</li>
                                            <li>Delem Modusys compatiility (module scalability and adaptivity)</li>
                                            <li>USB, peripheral interfacing</li>
                                            <li>User specific application support within te control's multitasking
                                                enviroment</li>
                                            <li>Sensor bendig & correction interface</li>
                                            <li>Profile-T3D offline software</li>

                                        </ul>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- 11th part -->

                <div>

                    <div class="standard">
                        <p>
                            STANDARD COMPONENTS
                        </p>
                    </div>

                    <div class="tool_holder_part">
                        <div class="de_text">
                            <p>Tool Holder</p>
                        </div>

                        <div class="img_part">
                            <div class="img_container">

                                <img src="../Frame_5/images_for_main_page/image 23.png" alt="">

                                <p>Single way quick clamp with manual anti deflection system</p>
                            </div>
                            <div class="img_container">

                                <img src="./images_for_main_page/image 24.png" alt="">

                                <p>Two way quik clamp with manual anti deflection system</p>
                            </div>
                            <div class="img_container">

                                <img src="./images_for_main_page/image 25.png" alt="">

                                <p>One way quick clamp with click with anti deflection system</p>
                            </div>
                            <div class="img_container">

                                <img src="./images_for_main_page/image 26.png" alt="">

                                <p>Two way quick clamp with click with reflection sy</p>
                            </div>

                        </div>

                        <!--borde lines  -->
                        <div class="main_border">
                        </div>
                        <div class="second_border">

                        </div>
                    </div>




                </div>

                <!-- 12th part -->

                <div class="wila_tool_holder">

                    <div class="tag_name">
                        <p>Wila Tool Holder</p>
                    </div>
                    <div class="will_imgs">
                        <div class="im-1">
                            <img src="./images_for_main_page/image 27.png" alt="">
                            <p>will style hydraulic/Punimatic/ Manual with anti deflection system</p>
                        </div>
                        <div class="im-1">
                            <img src="./images_for_main_page/image 28.png" alt="">
                            <p>will style hydraulic/Punimatic/ Manual with anti deflection system</p>
                        </div>
                    </div>

                </div>

                <!-- 13th part -->
                <div class="edge">
                    <p>EDGE SERIES BENDING TOOLS</p>
                </div>

                <div class="edge_tools_part">
                    <div class="parmar_part">
                        <div class="text_part">
                            <p> <b>PARMAR</b> has wide range of bending tools solutions, such as 1V
                                and multi-V lower tools and different upper tool solution. All
                                tools ae and accuracy are top quality. We sell only what our
                                customers truly need. We even design the customersr's needs from
                                the very beginning needed.
                            </p>
                        </div>
                        <img src="./images_for_main_page/image 29.png" alt="">
                    </div>
                    <div class="punch_part">
                        <div class="punch_div">
                            <p>PUNCH</p>
                        </div>
                        <div class="imgs">
                            <div class="im">
                                <img src="./images_for_main_page/Group 99.png" alt="">
                                <p>Standard Sectioning Punch</p>
                            </div>
                            <div class="im">
                                <img src="./images_for_main_page/Group 100.png" alt="">
                                <p>Standard Semi GOOseneck Punch</p>
                            </div>

                            <div class="im">
                                <img src="./images_for_main_page/Group 111.png" alt="">
                                <p>Standard Sharp Punch</p>
                            </div>
                            <div class="im">
                                <img src="./images_for_main_page/Group 102.png" alt="">
                                <p>Straight Sharp Punch</p>
                            </div>
                            <div class="im">
                                <img src="./images_for_main_page/Group 103.png" alt="">
                                <p>Gooseneck Punch</p>
                            </div>

                            <div class="im">
                                <img src="./images_for_main_page/Group 104.png" alt="">
                                <p>Wil Style Punch</p>
                            </div>

                        </div>
                    </div>
                    <div class="die_part">
                        <div class="die_div">
                            <p>DIE</p>
                        </div>
                        <div class="die_img">
                            <div class="die">
                                <img src="./images_for_main_page/Group 105.png" alt="">
                                <p>Standard Sectioning Punch</p>
                            </div>
                            <div class="die">
                                <img src="./images_for_main_page/Group 106.png" alt="">
                                <p>Standard Semi GOOseneck Punch</p>
                            </div>

                            <div class="die">
                                <img src="./images_for_main_page/Group 107.png" alt="">
                                <p>Standard Sharp Punch</p>
                            </div>
                            <div class="die">
                                <img src="./images_for_main_page/Group 108.png" alt="">
                                <p>Straight Sharp Punch</p>
                            </div>
                            <div class="die">
                                <img src="./images_for_main_page/Group 109.png" alt="">
                                <p>Gooseneck Punch</p>
                            </div>

                            <div class="die">
                                <img src="./images_for_main_page/Group 110.png" alt="">
                                <p>Wil Style Punch</p>
                            </div>

                        </div>


                    </div>


                </div>

                <!-- 14th part -->
                <div class="edge">
                    <p>CNC CROWNING & HEAVY TOOLS</p>
                </div>

                <div class="CNC_crowning_and_heavy_tools">

                    <div class="heavy_part">

                        <div class="heavy_desc">
                            <p id="front">Front & Back Guage</p>
                            <p id="frout_text">The hign speed ballscrew back gauge sustem movement is
                                also supported will linear guides, which helps the back
                                gauge achieve long life,greater sensitivity and strenghens
                                against any collisions.
                            </p>
                        </div>

                        <div class="heavy_img">
                            <img src="./images_for_main_page/image 30.png" alt="">
                            <p id="heavy">Heavy Duty Sheet Support</p>
                        </div>
                    </div>



                    <div class="h_series">
                        <div class="h-series_desc_part">
                            <div class="heading_part">
                                <p id="Edge_h">Edge H Series</p>
                                <p id="edge_b">Bending Tools</p>
                            </div>
                            <div class="h_desc_part">
                                <p> <b>Parmar</b> has wide range of bending tools solutions, suh as 1V and
                                    multi-V lower tools and different upper tool solutions. All tools are
                                    manufactured of high-class material. They are hardened, so the
                                    durability and accuracy are top quality.Our own production ensures that
                                    our deliveries always what our customers truly need. We even dwsign the right
                                    tool for customer's needs from the very beginning. if needed.
                                </p>
                            </div>
                        </div>
                        <div class="h_series_img_part">
                            <div class="h_img">
                                <img src="./images_for_main_page/Group 49.png" alt="">
                                <p>Autometic Motorised CNC Operated Die</p>
                            </div>
                            <div class="h_img">
                                <img src="./images_for_main_page/Group 50.png" alt="">
                                <p>Hard Operated Abjustable V Die</p>
                            </div>
                            <div class="h_img">
                                <img src="./images_for_main_page/Group 51.png" alt="">
                                <p>Manual Adjustable V Die</p>
                            </div>
                            <div class="h_img">
                                <img src="./images_for_main_page/Group 52.png" alt="">
                                <p>Multi-V lower die without rollers</p>
                            </div>
                            <div class="h_img">
                                <img src="./images_for_main_page/Group 53.png" alt="">
                                <p>Lower die with rollers</p>
                            </div>
                            <div class="h_img">
                                <img src="./images_for_main_page/Group 54.png" alt="">
                                <p>Upper Holder with changeable Tools</p>
                            </div>
                        </div>


                    </div>

                    <div class="h_series_1">

                        <div class="h_desc_part_1">
                            <p>The CNC Crowing automatically compensates the deflection of the lower frame.
                                it regulalates the wedges/hydrualic cylindir of the lower table automatically in order
                                to create a perfect crowining for  each single bend. according to the
                                different lengths and bending forces.
                                <br>
                                <br>
                                it allows a constant bending angle over the length even if the bending parameters
                                are different from the common rule of using a V-die with a measure 8 times the 
                                thickness of the bent material. more bending freedom to increase
                                producativity and working eases.
                            </p>
                        </div>

                        <div class="h_series_img_part_1">
                            <div class="h_img_1">
                                <img src="./images_for_main_page/image 32.png" alt="">
                                <p>Autometic Motorised CNC Operated Die</p>
                            </div>
                            <div class="h_img_1">
                                <img src="./images_for_main_page/Group 58.png" alt="">
                                <p>Hard Operated Abjustable V Die</p>
                            </div>
                            <div class="h_img_1">
                                <img src="./images_for_main_page/parmar catalog[1]6564 1.png" alt="">
                                <p>Manual Adjustable V Die</p>
                            </div>
                            <div class="h_img_1">
                                <img src="./images_for_main_page/parmar catalog[1]78 1.png" alt="">
                                <p>Multi-V lower die without rollers</p>
                            </div>
                            
                        </div>


                    </div>

                    

                </div>

                <!-- 15th part -->
                <div class="hydraulic_c">
                    <p>HYDRAULIC COMPONENTS</p>
                </div>

                <div class="h_components">
                    <div class="h_system">
                        <div class="h_s_tag">
                            <p>HYDRAULIC SYSTEM</p>
                        </div>
                        <div class="h_images">
                            <div class="h_im_1">
                                <img src="./images_for_main_page/Group 64.png" alt="">
                                <p>Hydraulic Unit Powered By Hawe</p>
                            </div>
                            <div class="h_im_1">
                                <img src="./images_for_main_page/Group 63.png" alt="">
                                <p>Hydraulic Unit Powwred By Rexroth</p>
                            </div>
                        </div>
                    </div>
                    <div class="b_r_l">

                    </div>

                    <div class="hy_part">
                        <div class="hy_img_part">
                            <div class="hy_1">
                                <div class="hy_img_p_1"><img src="./images_for_main_page/parmar_3 1.png" alt=""></div>
                                <div class="d_img_part"><p>Edge Series</p></div>
                                
                            </div>
                             <p id="jj">Edge Series Press Brake with AC Motor with
                                Standard Vane Pump </p>
                            
                        </div>
                        <div class="hy_img_part">
                            <div class="hy_1">
                                <div class="hy_img_p_1"><img src="./images_for_main_page/parmar_4 1.png" alt=""></div>
                                <div class="d_img_part"><p>Edge Servo Series</p></div>
                          
                            </div>
                            <p id="jj">Edge Servo Series Press Brake with AC Servo Motor and Drive
                                With Standard Servo Pump for less noise with
                                30% energy saving
                            </p>
                            
                        </div>
                        <div class="hy_img_part">
                            <div  class="hy_1">
                                <div class="hy_img_p_1"><img src="./images_for_main_page/parmar_5 1.png" alt=""></div>
                                <div class="d_img_part"><p>Edge Hy-brid Series</p></div>
                              
                            </div>
                            <p id="jj">Edge Hybrid Series Press Brake with AC Servo MOtor and Drive with
                                Standard servo Pump for less noise with 40% more productivity with
                                30% energy saving
                            </p>
                            
                        </div>
                    </div>
                    
                </div>

                <!-- 16th part -->
                 <div class="hydraulic_c">
                    <p>STANDARD COMPONENTS</p>
                 </div>

                 <div class="std_part">
                    <table>
                        <tr class="std_1">
                            <td class="img_std_1">
                                <img src="./images_for_main_page/parmar_6 1.png" alt="">
                               <div class="tag_1"><p>Back Guard</p></div>
                            </td>
                            <td class="img_std_1">
                                <img src="./images_for_main_page/parmar7 1.png" alt="">
                                <div class="tag_1"><p>Side Guard</p></div>
                            </td>
                            <td class="img_std_1">
                                <img src="./images_for_main_page/parmar_8 1.png" alt="">
                                <div class="tag_1"><p>Linear Scale</p></div>
                            </td>
                        </tr>
                        <tr class="std_1">
                            <td class="img_std_1">
                                <img src="./images_for_main_page/image 33.png" alt="">
                                <div class="tag_1"><p>Fingers</p></div>
                            </td>
                            <td class="img_std_1">
                                <img src="./images_for_main_page/parmar_9 1.png" alt="">
                                <div class="tag_1"><p>Back Guage</p></div>
                            </td>
                            <td class="img_std_1">
                                <img src="./images_for_main_page/parmar_10 1.png" alt="">
                                <div class="tag_1"><p>Back Guage</p></div>
                            </td>
                        </tr>
                    </table>
                 </div>

                 <div class="hydraulic_c">
                    <p>ACCESSORIES</p>
                 </div>
                 <!-- 17th part -->
                 <div class="std_part_2">
                    <table>
                        <tr class="std_2">
                            <td class="img_std_2">

                                <img src="./images_for_main_page/image 34.png" alt="">


                                <div class="tag_2">
                                    <p>FRONT SHEET SUPPORT</p>
                                </div>
                            </td>
                            <td class="img_std_2">

                                <img src="./images_for_main_page/Group 112.png" alt="">


                                <div class="tag_2">
                                    <p>AUTOMETIC ANGLE MEASURE SYSTEM</p>
                                </div>
                            </td>


                        </tr>
                        <tr class="std_2">
                            <td class="img_std_2">

                                <img src="./images_for_main_page/Group 113.png" alt="">


                                <div class="tag_2">
                                    <p>AUTOMETIC SHEET FOLLOWERS</p>
                                </div>
                            </td>
                            <td class="img_std_2">

                                <img src="./images_for_main_page/image 35.png" alt="">


                                <div class="tag_2">
                                    <p>LASER SAFETY</p>
                                </div>
                            </td>
                            


                        </tr>
                    </table>
                </div>

                










            </div>


        </div>


        <!-- main-container-end -->
    </div>

    <!-- footer start -->

    <div class="footer">

        <p>
            CONTECT US
        </p>




        <div class="footer_text_2">

            <p>Survey No. 91, Jay Industrial Area, Hadamtala, 2 Rajkot - 360311 Gondal Road, Rajkot,<br>
                360002.Gujarat-india
            </p>
        </div>


        <div class="foot_1">


            <img src="./images_for_main_page/Footer_1.1.png" alt="" height="150px" width="150px">

            <div class="middle_element">

                <div class="tags">

                    <img src="./images_for_main_page/Footer_image_2.1.png" alt="">
                    <img src="./images_for_main_page/Footer_image_2.2.png" alt="">
                    <img src="./images_for_main_page/Footer_image_2.3.png" alt="">
                    <img src="./images_for_main_page/Footer_image_2.4.png" alt="">

                </div>

                <div class="middle_element_text">
                    <p>+91 94272 54147 <br>+91 94272 54147</p>
                </div>
            </div>

            <img src="./images_for_main_page/Footer_1.2.png" alt="" height="150px" width="150px">

        </div>

        <div class="footer_line">
            <p>We are an ISO 9001:2015 certified company established in 2009 engaged in manufacturing of All type of
                Hydraulic Press</p>
            <br />Machine in Rajkot- Gujarat -India.

            </p>
        </div>
        <div class="footer_last_part">
            <p>© 2024  Parmar CNC Machines (India) LLP, All rights reserved. Developed by <br>
                ELVIS Software pvt,ltd,
            </p>
        </div>

    </div>
    <!-- footer end -->
    </div>
    </div>

</body>

</html>