
#button{
    position: fixed;
      bottom: 20px;
      right: '20px';
      padding: '10px 20px';
      background-color: #007bff;
      color: 'white';
      border: 'none';
      border-radius: '5px';
      cursor: 'pointer';
      size: '16px';
}










/* 
#button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primery);
    padding: 5px 10px;
    border-radius: 4px;
    position: fixed;
    bottom: 15px;
    right: 15px;
    transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;transition: all 0.5s ease;
    text-decoration: none;
} */

/* #button.show {
    display: block;
} */
/* #button::after {
    content: "\e590";
    font-family: FontAwesome;
    font-size: 26px;
    color: #fff;
    line-height: normal;
}
#button:hover {
    cursor: pointer;    
    background-color: #333;
    border: 1px solid #f58220;
}
#button:active {
    background-color: #555;
}
#button.show {
    opacity: 1;
    visibility: visible;
}  */