<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Frame-26</title>
    <link rel="stylesheet" href="Frame_26.css" />
  </head>
  <body>
    <div id="wrapper">
      <div class="container">
        <!-- navbar start -->
        <div class="navbar">
          <img src="./../../Navbar/navbar_images/Group 25.svg" alt="" />

          <div class="nav_elements">
            <li>
              <a href="../../Home/home.html">Home</a>
            </li>

            <li>
              <a href="../../Company/company.html">COMPANY</a>
            </li>

            <li>
              <a href="../../Products/Product_main_page/products.html">PRODUCTS</a>
            </li>

            <li>
              <a href="../../Event/event.html">EVENT</a>
            </li>

            <li>
              <a href="../../Download/download.html">DOWNLOAD</a>
            </li>

            <li>
              <a href="../../Video/video.html">VIDEOS</a>
            </li>

            <li>
              <a href="../../Contect-Us/contect_us.html">CONTACT US</a>
            </li>
          </div>
        </div>

        <!-- navbar end -->

        <!-- main part start -->

        <div class="main_part">
          <!-- part-1 -->
          <div class="part_1">
            <div class="part_1_img">
              <img
                src="./Frame_26_images/PNCPBR1030 Rear cylinder press brake 1.png"
                alt=""
              />
            </div>
            <div class="part_1_desc_part">
              <div class="desc_img">
                <img src="./Frame_26_images/Group 18.png" alt="" />
              </div>
              <div class="play_button_img">
                <img src="./Frame_26_images/Group 26.png" alt="" />
              </div>
            </div>
          </div>

          <!-- part-2 -->
          <div class="part_2">
            <div class="desc_part">
              <p>
                Rear Cylinder Hydraulic Press Brake Machine is durable and
                manufactured using latest techniques to ensure excellent
                performance. Rear Cylinder to Technically advanced features of
                our hydraulic press brake make it extremely popular in the
                global market.
              </p>
              <br />
              <br />
              <p>
                Press Brakes are developed by keeping latest technology with
                cylinders are mounted at back side of press Brake and are
                synchronize for parallelism between ram and table, by providing
                mechanical links connected with cylinder. The electric control
                panel is fixed on side wall at convenient place for easy reach
                of operator. It includes push button pendant and foot switch.
                Its high operational accuracy and precise results, this machine
                i s widely used and appreciated by the clients for long service
                life.
              </p>
            </div>
            <div class="img_part">
              <img
                src="../Product_images/PNCPBR1030 Rear cylinder press brake 1.png"
                alt=""
              />
            </div>
          </div>

          <div class="border">
            <img src="../Frame_26/Frame_26_images/Vector 7.png" alt="" />
          </div>

          <!-- part-3 -->
          <div class="part_3">
            <div class="img_1">
              <img src="../Frame_26/Frame_26_images/Group 74.png" alt="" />
            </div>
            <div class="img_1">
              <img src="../Frame_26/Frame_26_images/Group 75.png" alt="" />
            </div>

            <div class="third_img">
              <div class="cybelic_part">
                <div class="cybelic_text">
                  <p>CYBELEC</p>
                </div>
                <div class="cybelic_img">
                  <img
                    src="../Frame_26/Frame_26_images/parmar_13 1.png"
                    alt=""
                  />
                </div>
                
                <div class="cyb_size">
                  <p>Cyb Touch 8</p>
                </div>
              </div>
              
            </div>
          </div>

          <!-- part-4 -->
          <div class="part_4">
            <div class="specification">
              <p>Technical Specification</p>
            </div>
            <div class="chart">
              <img src="../Frame_26/Frame_26_images/Group 80.png" alt="" />
            </div>
          </div>

          <!-- part-5 -->
          <div class="part_5">
            <div class="part_5_1">
              <div class="first_label">
                <p>Standard Featres:</p>
              </div>
              <div class="first_label_data">
                <ul>
                  <li>Front Sheet Support</li>
                  <li>Rear Gauge bt Front Operated</li>
                  <li>One Suitable Five Way Die</li>
                  <li>Punch</li>
                  <li>Manual Operated Lubrication System</li>
                  <li>Paor of Lifting Links</li>
                </ul>
              </div>
            </div>

            <div class="second_label_data">
              <ul>
                <li>
                  Movable Operation Console With <br />
                  Foot Switch & Various Operation Push Buttons
                </li>
                <li>Main Motor Drive</li>
                <li>Die Clamp</li>
                <li>
                  Electric Control Penak with Selection of <br />
                  'Auto','Inch' & 'Single' Cycle Mode Operation
                </li>
              </ul>
            </div>

            <div class="part_5_3">
              <div class="third_label">
                <p>Optinal Accessories:</p>
              </div>
              <div class="third_label_data">
                <ul>
                  <li>Motorised Back Gauge with PLC</li>
                  <li>Anti Detection System</li>
                  <li>Sliding Sheet with Swing Away Suppers</li>
                  <li>Extra Depth</li>
                  <li>NC Controller</li>
                  <li>Extra Horns.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- footer -->
        <div class="footer">

            <p>
                CONTECT US
            </p>




            <div class="footer_text_2">

                <p>Survey No. 91, Jay Industrial Area, Hadamtala, 2 Rajkot - 360311 Gondal Road, Rajkot,<br>
                    360002.Gujarat-india
                </p>
            </div>


            <div class="foot_1">


                <img src="../../Footer/Footer_images/iso 2.png" alt="" height="150px" width="150px">

                <div class="middle_element">

                    <div class="tags">

                        <img src="../../Footer/Footer_images/Vector-1.png" alt="">
                        <img src="../../Footer/Footer_images/Vactor-2.png" alt="">
                        <img src="../../Footer/Footer_images/Vector-3.png" alt="">
                        <img src="../../Footer/Footer_images/Vector-4.png" alt="">

                    </div>

                    <div class="middle_element_text">
                        <p>+91 94272 54147 <br>+91 94272 54147</p>
                    </div>
                </div>

                <img src="../../Footer/Footer_images/certificate 2.png" alt="" height="150px" width="150px">

            </div>

            <div class="footer_line">
                <p>We are an ISO 9001:2015 certified company established in 2009 engaged in manufacturing of All
                    type of Hydraulic Press</p>
                <br />Machine in Rajkot- Gujarat -India.

                </p>
            </div>
            <div class="footer_last_part">
                <p>© 2024  Parmar CNC Machines (India) LLP, All rights reserved. Developed by <br>
                    ELVIS Software pvt,ltd,
                </p>
            </div>

        </div>
      </div>
    </div>
  </body>
</html>
