.S_1_part{
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    gap: 90px;
    

}
.S_1_part img{
    height:30% ;
    width: 30%;
    margin-left: 2%;

}

.my_images_part{
    background-color: #A5C847;
    display: flex;
    flex-direction: column;
    gap: 30px;

}
.my_images_part .tab_part{
    width: 80%;
    height: 30%;
    transform: translate(25%,10%);

}


