/* second part */
.Sin_2_part{
    display: flex;
    flex-direction: row;
    margin: 2% 1% 2% 2%;

}
.Sin_2_part img{
    width:30% ;
    height: 30%;
}


.border_line{
    height:2px;
    width: 98%;
   
   transform: translate(1%,10%);
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1%;

}