
:root{
    
    --yellow:rgba(217, 224, 205,0.8);
    --padding-boxes:2%;
    --text-size:1.85rem;
    --line-height:170%;
}
.company-section{
    margin-top: 12%;
}
/* main_part */
.two_image {
    position: relative; 
   
    
  }
  .backword_div img {
    width: 100%;     
    height: auto;      
    object-fit: cover;
  } 
  .forword_div{
    position: absolute; 
    top: 5%;
    left: 3%;
    width: 95%;        
    height:85%;  
      
    background-color: var(--yellow); 
    color: black ;     
          


  }
  .forword_div p {

    width: 100%; 
    max-width: 100%; 
    text-align: justify;
    padding: var(--padding-boxes); 
    font-size: var(--text-size);               
    line-height: var(--line-height);               
      
    
  }
  /* mission and vision */  
  
.text_header{
    text-decoration: underline;        
    text-decoration-color: var(--primary-color);
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
  }
  .two_image_1 {
      position: relative; 
      
  
    }
    .forword_div_1{
      position: absolute; 
       
      width: 75%;        
      height:85%;     
      top: 8%;
      right:0%;  
      background-color: var(--yellow); 
      color: black ;     
      display: flex; 
    }
    .forword_div_1 p {
  
      width: 100%; 
      max-width: 100%; 
      text-align: justify;
      padding: var(--padding-boxes); 
      font-size: var(--text-size);               
      line-height: var(--line-height);   
      
    }
  
    
    .backword_div_1 img {
      width: 70%;     
      height: auto;     
      object-fit: cover;  
    }

/* why us */

  .text_header{
    text-decoration: underline;        
    text-decoration-color: var(--primary-color);
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
  }
 
  .two_image_2 {
    position: relative; 
    
 
    display: flex;
    flex-direction: row;
    align-items: center;
    
  }
  .forword_div_2{
    position: absolute;
    width: 75%;        
    height:85%;     
    top: 6%;
    left: 0%;  
    background-color: var(--yellow); 
    color: black ;     
    display: flex; 
  }
  .forword_div_2 p {

    width: 100%; 
    max-width: 100%; 
    text-align: justify;
    padding: var(--padding-boxes); 
    font-size: var(--text-size);               
    line-height: var(--line-height);    
    
  }
  

  .backword_div_2 img {
    width: 70%;     
    height: auto;      
    object-fit: cover; 
    margin: 0% 0% 2% 30%;
  }
  

  

 /* responsivr site  */

@media screen and (max-width:2500px){}
@media screen and ((max-width: 2500px) and (min-width:1290px)){

    :root{
        --text-size:3.65rem;
        
    }
    .text_header h1{
        font-size: 4.0rem;
        
    }
}
@media screen and ((max-width: 2200px) and (min-width:1290px)){

    :root{
        --text-size:3.2rem;
    }
    .text_header h1{
        font-size: 3.5rem;
        
    }
}
	

@media screen and ((max-width: 1900px) and (min-width:1290px)){

    :root{
        --text-size:2.8rem;
    }
    .text_header h1{
        font-size: 3.0rem;
        
    }
	
}
@media screen and ((max-width: 1600px) and (min-width:1290px)){

    :root{
        --text-size:2.3rem;
    }
    .text_header h1{
        font-size: 2.5rem;
        
    }
	
}
@media screen and (max-width: 1024px){
    :root{
        --text-size:1.5rem;
    }
}

@media screen and (max-width:912px){
    :root{
        --text-size:1.35rem;
    }
}
@media screen and (max-width:853px){
    :root{
        --text-size:1.25rem;
    }
}


@media screen and (max-width:768px){
    :root{
        --text-size:1.15rem;
        
    }
}

 @media screen and (max-width: 575px)
{
    :root{
        --text-size:0.85rem;
    }
    .text_header h1{
        font-size: 1.5rem;
        
    }
}
@media screen and (max-width:540px){
    :root{
        --text-size:0.80rem;
    }
}



@media screen and (max-width: 480px)
{
    :root{
        --text-size:0.70rem;    
    }
    .text_header h1{
        font-size: 1.4rem;
        
    }
}


@media screen and (max-width: 430px)
{
    :root{
        --text-size:0.65rem;
        
    }
}
@media screen and (max-width: 400px)
{
    :root{
        --text-size:0.58rem;
        
    }
}
@media screen and (max-width:375px)
{
    :root{
        --text-size:0.55rem;
        
    }
}





  
  
  