
  /* part-3 image */
  .text_header{
    text-decoration: underline;        
    text-decoration-color: var(--color);
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
  }
 
  .two_image_2 {
    position: relative; 
    
 
    display: flex;
    flex-direction: row;
    align-items: center;
    
  }
  .forword_div_2{
    position: absolute;
    width: 75%;        
    height:85%;     
    top: 6%;
    left: 0%;  
    background-color: var(--yellow); 
    color: black ;     
    display: flex; 
  }
  .forword_div_2 p {

    width: 100%; 
    max-width: 100%; 
    text-align: justify;
    padding: var(--padding-boxes); 
    font-size: var(--text-size);               
    line-height: 1.6;  
    
  }
  

  .backword_div_2 img {
    width: 70%;     
    height: auto;      
    object-fit: cover; 
    margin: 0% 0% 2% 30%;
  }
  

  