#accessories_label{
   background-color: var(--primary-color);
   text-align: center;
   color: white;
   padding: 1%;
   font-size: 2rem;
   margin: 0% 1%;
}

.img_std_2{
   display: flex;
   flex-direction: column;

}


.std_part_2{
    background-color: #4D4F48;
    width: 98%;
    margin: 1%;
    
    padding: 1%;
 }
 .std_part_2 table{
    transform: translate(7%,0%);
    
 }
 .std_2{
    display: flex;
    flex-direction: row;
    justify-content: center;
   align-items: center;
   margin-top: 2%;
   margin-bottom: 2%;
    
 }

 .img_std_2 img{
    width: 70%;
    height: 70%;
 }
 
 .td_part_2 tr{
    margin: 2%;
 }
 .td_part_2 td{
    margin: 2%; 
 }
 .tag_2{
    background-color: var(--color);
    width: 70%;
 }
 .tag_2 p{
    font-weight: 400;
    max-width: 100%; /* Maximum width of the line */
    
    font-size: 1.2em; /* Font size */
    text-align: center; /* Justify text to spread it */
    word-spacing: 0.10em; /* Space between words */
    line-height: 1.3em;
    margin-top: 2.0%;
    color: white;
    padding: 2% 0%;
  

}
@media screen and (max-width:768px){
   .accessories_label p{
      font-size: 1rem;
   }
   .tag_2 p{
      font-size: 0.8rem;
   }
}
@media screen and (max-width:400px){
   .accessories_label p{
      font-size: 0.8rem;
   }
   .tag_2 p{
      font-size: 0.4rem;
   }
}