.delem_main_container{
  margin-top: 12%
}
#delem_label{
    background-color: var(--primary-color);
    text-align: center;
    color: white;
    padding: 1%;
    font-size: 2rem;
    margin: 0% 1%;
}
.delem_main_div{
    background-color: var(--secondary-color);
    margin: 1% 1%;
}

.products {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    padding: 2% 5% 3% 3%;

}

.label {
    background-color: var(--color);
   
}

.label p {
    color: white;
    font-weight: 600;
    text-align: left;
    padding: 4% 0% 4% 5%;
    font-size: 20px;
}

.label_img {
    margin-top: 3%;
    width: 110%;
    height: 300px;
    background-color: white;

}

.label_img img {
    width: 80%;
    height: 80%;
   padding: 10% 15%;

}


.product_desc ul {
    margin: 6%;
    padding: 0;


}

.product_desc ul li {
    color: white;
    font-size: 1rem;
    width: 300px;
    word-spacing: 0px;
    
    
}
.p_1{
    margin-top: 1%;
}



.border_line_1 {
    height: 2px;
    width: 97%;

    background-color: white;
    margin-left: 10px;



}
@media screen and (max-width:2500px){

}
@media screen and (max-width:1920px){}
@media screen and (max-width:1366px){}
@media screen and (max-width:1199px){}
@media screen and (min-width: 1366px){
   
	
}
@media screen and (max-width: 1024px){
 
    
}

@media screen and (max-width:912px){
    
    .products{
        padding: 1% 5% 3% 1%;
    }
    
    
   
}
@media screen and (max-width:833px){
    
    
    
}


@media screen and (max-width:768px){
   
    .products{
        flex-direction: column;
    }
    .label {
        width: 60%;
        
       
    }
    .label_img {
        margin-top: 3%;
        width: 80%;
        height: 300px;
        background-color: white;
    
    }
    .products{
        transform: translateX(7%);
    }
    
    
    .label_img img {
        width: 80%;
        height: 100%;
       
       display: flex;
       align-items: center;
       justify-content: center;
       transform: translateX(10%);
    
    }
    .products{
        padding: 1% 5% 3% 10%;
    }

}
@media screen and (max-width:600px){
    
}

 @media screen and (max-width: 575px)
{
    
   
}
@media screen and (max-width:540px){
    
   
}



@media screen and (max-width: 480px)
{
    .label_img {
        
        height: 250px;
    
    
    }
    .product_desc ul li {
       
        font-size: 0.8rem;
        
        
        
    }
   
}


@media screen and (max-width: 430px)
{
    .label_img {
        
        height: 225px;
    
    
    }
    .product_desc ul li {
       
        font-size: 0.9rem;
        width: 250px;
        
        
        
    }
   
}
@media screen and (max-width: 390px)
{
    .label_img {
        
        height: 225px;
    
    
    }
    .product_desc ul li {
       
        font-size: 0.7rem;
        line-height: 1.5;
        
        
        
    }
    .label p {
        font-size: 16px;
    }
    
}

@media screen and (max-width: 376px)
{
   
    
}
@media screen and (max-width: 344px)
{
    
.label p {
    
    font-size: 16px;
    
}
.label_img {
        
    height: 180px;


}
.product_desc ul li {
       
    font-size: 0.6rem;
    line-height: 1.5;
    width: 200px;
    
    
    
}
   
    
}
@media screen and (max-width: 336px)
{
    
    
} 
@media screen and (max-width: 294px)
{
    .label_img {
        
        height: 150px;
    
    
    }
    .label p {
    
        font-size: 14px;
        
    }
}
@media screen and (max-width: 256px)
{
    .label_img {
        
        height: 130px;
    
    
    }
    .label p {
    
        font-size: 12px;
        
    }
    .product_desc ul li {
       
        font-size: 0.5rem;
        line-height: 1.5;
        width: 150px;
        
        
        
    }
}
    

